//- SVG Sprite mixin
mixin icon(name, element, mod)
  if(mod)
    svg(class="icon icon-" + element + ' icon-' + element + '--' + mod)
      use(xlink:href="#" + name)
  else
    svg(class="icon icon-" + element)
      use(xlink:href="#" + name)

//- Portfolio item
mixin portfolio(address, src, name)
  .portfolio__item
    a(href= address target="_blank" rel="noopener").portfolio__link
      span.portfolio__title= name
      img(src= src, alt= name).portfolio__img
