extends ../layout/main

block variables
  - var title = 'Naturix'

block loader
  // loader
  include ../modules/page-loader
  // ======

block content
  include ../modules/cards-filter
  include ../modules/farmfood
  include ../modules/product
  include ../modules/goods
  include ../modules/deals
  include ../modules/random
  include ../modules/subscribe
  include ../modules/testimonials
  include ../modules/news
