// ================== CUSTOM SCROLL ==================

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid var(--bg);
  border-radius: 0 3px 3px 0;
}

::-webkit-scrollbar-thumb {
  border-left: 1px solid var(--bg);
  border-radius: 0 3px 3px 0;
  background: rgba(29, 33, 38, .700);
}

::-webkit-scrollbar-thumb:active {
  background: var(--active-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--active-dark);
}
