// ===================== LEFT =====================

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
  width: 25%;
  height: 100%;
  border-radius: 4px;
  background-color: $bg-light;

  @include to($break_md) {
    width: 100%;
    height: 40%;
  }
}

.toggle-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .icon {
    width: 32px;
    height: 32px;
    transition: all .3s linear;
    cursor: pointer;
  }
}

.languages {
  margin-bottom: 10px;
  align-self: center;

  &__item {
    padding: 2px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }
}


.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 15%;

  @include to($break_md) {
    display: none;
  }

  &__pic {
    width: 100%;
    border-radius: 4px;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $dark;
  text-align: center;

  &__name {
    margin: 0;
  }

  &__specialty {
    margin-bottom: 0;
    max-width: 155px;
  }

  &__location {
    margin-top: 27px;
  }

  &__communication {
    position: relative;
    width: 220px;
    height: 80px;
    border-radius: 4px;
    box-shadow: inset -7px 0 12px -8px rgba(0, 0, 0, 0), inset 7px 0 12px -8px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background .4s ease-in-out, box-shadow .4s;
    transform: translateZ(0px);

    -webkit-font-smoothing: antialiased;

    &:hover .door::before {
      color: $blue;
    }

    &--active {
      background: $bg-light;
      box-shadow: inset -7px 0 12px -8px rgba(0, 0, 0, .3), inset 7px 0 12px -8px rgba(0, 0, 0, .3);

      .door {
        background-color: rgba(50, 56, 64, .9);
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, .4);
        transform: scale(1.08);

        &::before {
          color: $blue;
        }
      }

      .top {
        top: -50%;
      }

      .bottom {
        top: 100%;
      }

      .contacts {
        opacity: 1;
      }
    }
  }
}


.top {
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  transition: top .7s ease-in-out;

  &::before {
    top: 15px;
  }
}

.bottom {
  top: 50%;
  left: 0;
  border-radius: 0 0 4px 4px;
  transition: top .7s ease-in-out;

  &::before {
    top: -25px;
  }
}

.door {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 50%;
  transition: top .4s, box-shadow .2s,
    transform .3s, background-color .3s;
  transition-timing-function: ease-in-out;

  &::before {
    position: absolute;
    display: block;
    left: 64px;
    color: $dark;
    content: 'contacts';
    text-transform: uppercase;
    font-size: 19px;
    line-height: 50px;
    transition: color .7s ease-in-out;
  }
}

.contacts {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  opacity: 0;
  transition: opacity .7s;

  &__link {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: $bg-dark;
    color: $bg-light;
    text-align: center;
    cursor: pointer;
    transition: 300ms;

    &--phone {
      &:hover svg path {
        fill: $phone;
      }
    }

    &--mail {
      &:hover svg path {
        fill: $mail;
      }
    }

    &--skype {
      &:hover svg path {
        fill: $skype;
      }
    }

    &--linkedin {
      &:hover svg path {
        fill: $linkedin;
      }
    }

    &--github {
      &:hover svg path {
        fill: $github;
      }
    }

    &:hover {
      background-color: $bg-dark;
      color: #00989a;

      &::after {
        opacity: 1;
        transform: scale(1.15);
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 0 2px $bg-dark;
      content: '';
      opacity: 0;
      transition: 300ms;
      pointer-events: none;
    }

    &:nth-child(2n+1) {
      margin-top: 60px;
    }

    & svg {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      font-size: 24px;
    }

    & svg path {
      fill: $bg-light;
    }
  }
}
