.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}


.icon-e-class {
  font-size:(110.77/10)*1rem;
  width:(340.75/110.77)*1em;
}


.icon-econ {
  font-size:(113.73/10)*1rem;
  width:(340.75/113.73)*1em;
}


.icon-eye-01 {
  font-size:(40/10)*1rem;
  width:(40/40)*1em;
}


.icon-geaner-logo {
  font-size:(70/10)*1rem;
  width:(211.23/70)*1em;
}


.icon-ico-1-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-2-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-3-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-4-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-5-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-6-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-7-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-8-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-9-01 {
  font-size:(160/10)*1rem;
  width:(160/160)*1em;
}


.icon-ico-bag {
  font-size:(32/10)*1rem;
  width:(40.05/32)*1em;
}


.icon-ico-people {
  font-size:(32/10)*1rem;
  width:(40.05/32)*1em;
}


.icon-limo {
  font-size:(121.75/10)*1rem;
  width:(611.32/121.75)*1em;
}


.icon-luggage {
  font-size:(32/10)*1rem;
  width:(40.05/32)*1em;
}


.icon-minibus {
  font-size:(156.32/10)*1rem;
  width:(340.6/156.32)*1em;
}


.icon-s-class {
  font-size:(121.45/10)*1rem;
  width:(400.83/121.45)*1em;
}


.icon-sits {
  font-size:(32/10)*1rem;
  width:(40.05/32)*1em;
}


.icon-suv {
  font-size:(123.6/10)*1rem;
  width:(340.75/123.6)*1em;
}


.icon-white-e-class {
  font-size:(110.77/10)*1rem;
  width:(340.68/110.77)*1em;
}


.icon-white-econ {
  font-size:(113.73/10)*1rem;
  width:(340.78/113.73)*1em;
}


.icon-white-limo {
  font-size:(121.76/10)*1rem;
  width:(611.33/121.76)*1em;
}


.icon-white-minibus {
  font-size:(156.32/10)*1rem;
  width:(340.6/156.32)*1em;
}


.icon-white-s-class {
  font-size:(121.45/10)*1rem;
  width:(400.83/121.45)*1em;
}


.icon-white-suv {
  font-size:(123.6/10)*1rem;
  width:(340.76/123.6)*1em;
}

