@mixin spriteWidth($spritePng) {
  width: nth($spritePng, 5);
}

@mixin spriteHeight($spritePng) {
  height: nth($spritePng, 6);
}

@mixin spritePosition($spritePng) {
  background-position: nth($spritePng, 3) nth($spritePng, 4);
}

@mixin spriteImage($spritePng) {
  background-image: url(unquote('../img/' + nth($spritePng, 9)));
}

@mixin spritePng($spritePng) {
  @include spriteImage($spritePng);
  @include spritePosition($spritePng);
  @include spriteWidth($spritePng);
  @include spriteHeight($spritePng);
}
