// ==================== FONTS =======================

$raleway: 'Raleway',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$lato: 'Lato',
sans-serif;

// =================== COLORS =======================

$white: #FFFFFF;
$black: #1A1A1B;
$gray: #303134;
$gray-dark: #8D8D8D;
$gray-light: #DCDBDB;
$blue: #006CD1;
$seablue: #08AEEA;
$violet: #4B54FA;
$yellow: #FED701;
$background-dark: #141418;
$border: #707070;
$arrow: #3F3F3F;

$gradient-sea: linear-gradient(#2AF598, #08AEEA);
$gradient-sea-05: linear-gradient(rgba(#2AF598, .5), rgba(#08AEEA, .5));
$gradient-grey: linear-gradient(rgba(#FFFFFF, .3), rgba(#303030, .5), rgba(#000000, .9));

// =================== Bootstrap ====================

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px);
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px);
