// ==================== FONTS =======================

$mainFonts: Arial,
Tahoma,
sans-serif;

$ExoRegular: 'Exo-Regular',
$mainFonts;

// =================== COLORS =======================

$text-color: #1d2126;
$active-color: #0b87ff;

$bg-dark: #282d34;
$bg-light: rgba(50, 56, 64, .9);
$dark: #1d2126;
$light: #ffffff;
$blue: #005a83;
$green: #b3eb00;
$yellow: #ffd200;
$purple: #aa73ff;

// socials

$phone: $green;
$skype: #02aff0;
$mail: $yellow;
$linkedin: #0077b5;
$github: #171515;

// technologies

$yarn: #2c8ebb;
$npm: #cb3837;
$visualstudio: #0179cb;
