.left.profile
  //- .toggle-box
    //- .languages
    //-   span.languages__item.languages__item--en EN
    //-   span.languages__item.languages__item--ua UA
    //-   span.languages__item.languages__item--en RU
    //- .theme.dark
    //-   +icon('lightbulb-off', 'switch')
  .photo
    +icon('photo', 'photo')
  span.profile__name Igor Lukashev
  span.profile__specialty Junior Frontend Developer
  .profile__location.location
    span.location__city Zaporizhzhia
    span.location__country Ukraine
  .profile__communication
    .door.top
    .door.bottom
    .contacts
      a(href="tel:+380956010640").contacts__link
        +icon('phone', 'contact', 'phone')
      a(href="mailto:motrdevua@gmail.com").contacts__link
        +icon('mail', 'contact', 'mail')
      a(href="https://github.com/motrdevua" target="_blank" rel="noopener").contacts__link
        +icon('github', 'contact', 'github')
      a(href="https://t.me/@motrdevua" target="_blank" rel="noopener").contacts__link
        +icon('telegram', 'contact', 'telegram')
      a(href="https://www.linkedin.com/in/igor-lukashev-52b25011b/" target="_blank" rel="noopener").contacts__link
        +icon('linkedin', 'contact', 'linkedin')
  a(href="Igor_lukashev_CV.pdf", title="download cv" download).profile__download
    span Download CV
    +icon('download', 'download')
