.left
  .toggle-box
    .languages
      span.languages__item.languages__item--en EN
      span.languages__item.languages__item--ua UA
      span.languages__item.languages__item--en RU
    .theme.dark
      +icon('lightbulb-off')
  .photo
    img(src="img/photo.jpg", alt="alt").photo__pic
  .profile
    h2.profile__name Igor Lukashev
    h3.profile__specialty Junior Frontend Developer
    .profile__location.location
      .location__city Zaporizhzhia
      .location__country Ukraine
    .profile__communication
      .door.top
      .door.bottom
      .contacts
        a(href="tel:+380956010640").contacts__link.contacts__link--phone
          +icon('phone')
        a(href="mailto:motrdevua@gmail.com").contacts__link.contacts__link--mail
          +icon('mail')
        a(href="https://github.com/motrdevua" target="_blank" rel="noopener").contacts__link.contacts__link--github
          +icon('github')
        a(href="skype:fedeveloperua?call").contacts__link.contacts__link--skype
          +icon('telegram')
        a(href="https://www.linkedin.com/in/igor-lukashev-52b25011b/" target="_blank" rel="noopener").contacts__link.contacts__link--linkedin
          +icon('linkedin')
