.left
  .photo
    img(src="img/photo.jpg", alt="alt").photo__pic
  .about
    h1.about__name Igor Lukashev
    h2.about__specialty Frontend Developer
    span.about__desc Zaporizhzhia, Ukraine.
    .about__contacts
      .top.door
      .bottom.door
      .contacts
        a(href="tel:+380956010640").contacts__link.phone
          i.fas.fa-phone
        a(href="mailto:fedeveloperua@gmail.com").contacts__link.mail
          i.fas.fa-envelope
        a(href="skype:fedeveloperua?call").contacts__link.skype
          i.fab.fa-skype
        a(href="https://www.linkedin.com/in/igor-lukashev-52b25011b/" target="_blank" rel="noopener").contacts__link.linkedin
          i.fab.fa-linkedin
        a(href="https://github.com/fedeveloperua" target="_blank" rel="noopener").contacts__link.github
          i.fab.fa-github-alt
