.right
  .panel
    .panel__container.resume
      .resume__objective
        h4.resume__title objective
        .resume__desc
          p.resume__text To obtain the perspective position of Junior Frontend Developer I'm looking for a team where I can improve my skils in FE and I will make every eforts to achive best results.
      .resume__education.resume__education--add
        h4.resume__title another achievements
        .resume__desc
          p.resume__period Apr2017 - July2017
          .resume__about
            a(href="http://devchallenge.it/" target="_blank" rel="noopener").resume__link
              img(src="./img/logo_dev_challenge_11.svg", alt="devchallenge").resume__picture
          p.resume__level Finalist ("Standart")
      .resume__education.resume__education--add
        h4.resume__title additional education
        .resume__desc
          p.resume__period Feb2016 - June2016
          .resume__about
            a(href="https://goit.ua/" target="_blank" rel="noopener").resume__link
              img(src="./img/logo_goit.png", alt="goit").resume__picture
          p.resume__level Junior Spicialist
      .resume__education
        h4.resume__title education
        .resume__desc.resume__desc--university
          p.resume__period 2009 - 2014
          .resume__about
            span.resume__institution Donetsk State University of Management
            span.resume__speciality Foreign-Economic Activity Expert
          p.resume__level Bachelor's degree
        .resume__desc
          p.resume__period 2009 - 2013
          .resume__about
            span.resume__institution Kharkiv State Automobile and Road Technical School
            span.resume__speciality Maintenance and repair conveyor, building and road machines and equipment
          p.resume__level Junior Specialist
  .panel
    .panel__container.skills
      .skills__tech
        h4.skills__title Tech skills
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Strong knowledges of HTML5, CSS3.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc To increase speed of work I use templating engine PUG and CSS preprocessor SASS.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Experience in responsive, cross-browser and pixel-perfect frontend creation.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Understanding of building process using such tools like Gulp, Yarn, NPM, Bower, Webpack.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Javascript, jQuery.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Version control systems, such as Git, Github.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Basic knowledges of Photoshop, Illustrator, Sketch, Avocode for coders.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Editor: VSCode, Atom.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc OS: MacOs, Windows.
        .skills__item
          i.fas.fa-check-square
          span.skills__desc Knowledge of English at the Pre-Intermediate / Intermediate level.
      .skills__logos
        +icon('html5')
        +icon('css3')
        +icon('javascript')
        +icon('jquery')
        +icon('sass')
        +icon('pug')
        +icon('gulp')
        +icon('webpack')
        +icon('npm')
        +icon('git')
        +icon('github')
        +icon('bootstrap')
        +icon('vscode')
  .panel
    .panel__container.portfolio
      +portfolio('https://motrdevua.github.io/portfolio/mogo/dist/', './img/screens/mogo.jpeg', 'MoGo')
      +portfolio('https://motrdevua.github.io/portfolio/vprosto/dist/', './img/screens/vprosto.jpeg', 'Всё просто')
      +portfolio('https://motrdevua.github.io/portfolio/marvel/dist/', './img/screens/marvel.jpeg', 'Marvel')
      +portfolio('https://motrdevua.github.io/portfolio/marvel/dist/', './img/screens/marvel.jpeg', 'Marvel')
