.right
  section.section
    h2.section__title Resume
    .section__container.resume
      .resume__objective
        h3.subsection__title objective
        p.resume__text I am an independet, self-motivated team player that is meticulous and methodical in creating solutions. I have an ability to learn and adapt quickly in a dynamic environment. I have a passion to continuously learn new technologies and be up to date with the technologies that I already known.
        p.resume__text To obtain the perspective position of Junior Frontend Developer I'm looking for a team where I can improve my skils in FE and I will make every eforts to achive best results.
      .resume__education
        h3.subsection__title another achievements
        .resume__desc
          p.resume__period Apr2018 - July2018
          .resume__about
            a(href="https://www.youtube.com/watch?v=ab9N1vwe1Yc" target="_blank" rel="noopener").resume__link
              +icon('dev12', 'dev12')
          p.resume__level
            span Finalist
            span (Front-end (HTML+CSS) Standard)
      .resume__education
        .resume__desc
          p.resume__period Apr2017 - July2017
          .resume__about
            a(href="http://devchallenge.it/" target="_blank" rel="noopener").resume__link
              +icon('dev11', 'dev11')
          p.resume__level
            span Finalist
            span (Front-end (HTML+CSS) Standard)
      .resume__education
        h3.subsection__title additional education
        .resume__desc
          p.resume__period Feb2016 - June2016
          .resume__about
            a(href="https://goit.ua/" target="_blank" rel="noopener").resume__link
              img(src="assets/img/goit.png", alt="goit").resume__picture
          p.resume__level Junior Spicialist
      .resume__education
        h3.subsection__title education
        .resume__desc.resume__desc--university
          p.resume__period 2009 - 2014
          .resume__about
            span Donetsk State University of Management
            span Foreign-Economic Activity Expert
          p.resume__level Bachelor's degree
        .resume__desc
          p.resume__period 2009 - 2013
          .resume__about
            span Kharkiv State Automobile and Road Technical School
            span Maintenance and repair conveyor, building and road machines and equipment
          p.resume__level Junior Specialist
  section.section
    h2.section__title Skills
    .section__container.skills
      .skills__tech
        h3.subsection__title Soft skils
        .skills__item
          +icon('check', 'check')
          span.skills__desc Good written and verbal communications.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Teamwork skill.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Time management skill (I use the Pomodoro technique in my work).
        .skills__item.humor
          +icon('check', 'check')
          span.skills__desc.skills__desc--flex Sense of humor
            +icon('smile', 'smile')
      .skills__tech
        h3.subsection__title English:
        .skills__item
          +icon('check', 'check')
          span.skills__desc  Pre-intermediate level (spoken and written).

      .skills__tech
        h3.subsection__title Tech skills
        .skills__item
          +icon('check', 'check')
          span.skills__desc Strong knowledges of HTML5, CSS3.
        .skills__item
          +icon('check', 'check')
          span.skills__desc To increase speed of work I use templating engine PUG and CSS preprocessor SASS.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Knowledge of JS(ES5, ES6), jQuery, DOM and events.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Experience with responsive web design approach and/or mobile solutions and pixel-perfect frontend creation.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Common understanding of cross-browser/platform issues.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Experience with client-side code perfomance optimizations.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Experience with Twitter Bootstrap.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Experience with package managers npm, yarn, bower.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Understanding of building process using such tools like Gulp, Webpack.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Experience to configure and creating boilerplates with Gulp 4, Webpack 4 and deep understanding how are works.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Experience with version control systems, such as Github, Git (command line).
        .skills__item
          +icon('check', 'check')
          span.skills__desc Basic knowledges of Adobe package (Photoshop, Illustrator, XD), Sketch, Avocode, Zeplin.
        .skills__item
          +icon('check', 'check')
          span.skills__desc Editor: VSCode.
        .skills__item
          +icon('check', 'check')
          span.skills__desc OS: MacOs, Windows.

      h3.subsection__title A tech stack
      .skills__logos
        +icon('html5', 'tech')
        +icon('css3', 'tech')
        +icon('javascript', 'tech')
        +icon('jquery', 'tech')
        +icon('pug', 'tech')
        +icon('sass', 'tech')
        +icon('bootstrap', 'tech')
        +icon('gulp', 'tech')
        +icon('webpack', 'tech')
        +icon('npm', 'tech')
        +icon('git', 'tech')
        +icon('vscode', 'tech')
  section.section
    h2.section__title Portfolio
    .section__container.portfolio
      +portfolio('https://marketplace.visualstudio.com/items?itemName=motrdevua.milkyway', 'assets/img/screens/milkyway.jpg', 'Milky Way')
      +portfolio('https://motrdevua.github.io/portfolio/mogo/dist/', 'assets/img/screens/mogo.jpg', 'MoGo')
      +portfolio('https://motrdevua.github.io/portfolio/tourism/dist/', 'assets/img/screens/tourism.jpg', 'Tourism')
      +portfolio('https://motrdevua.github.io/portfolio/vprosto/dist/', 'assets/img/screens/vprosto.jpg', 'Всё просто')
      +portfolio('https://motrdevua.github.io/portfolio/marvel/dist/', 'assets/img/screens/marvel.jpg', 'Marvel')
