section.section.benefits
  .container
    .row.justify-content-center
      h2.section__title
        | your benefits
    .row
      .col-xl-4
        .benefits__item.d-flex.flex-column.align-items-center
          .benefits__image
            +icon('ico-1-01', '')
          p.benefits__desc
            | Luxury air-conditioned and non-smoking vehicles from 8 Euros per hour that get checked before every ride
      .col-xl-4
        .benefits__item.d-flex.flex-column.align-items-center
          .benefits__image
            +icon('ico-2-01', '')
          p.benefits__desc
            | Punctual drivers with excellent knowledge of the city, always within the speed limit, and ready to help you with your luggage
      .col-xl-4
        .benefits__item.d-flex.flex-column.align-items-center
          .benefits__image
            +icon('ico-3-01', '')
          p.benefits__desc
            | Friendly English-speaking assistant available from 8am up to 2am local time every day before, during, and after your trip to Ukraine to answer all your questions within the first 10 minutes
