section.section.fleet-items
  .fleet-item
    h3.fleet-item__title Premium
    .fleet-item__navigation
      .container
        .row
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-prev
          .col-xl-8.fleet-item__navigation-desc
            span.fleet-item__navigation-title Mercedes S-class (221)
            div
              span.fleet-item__navigation-counter
              span &nbsp;/&nbsp;
              span.fleet-item__navigation-sum 3
              span &nbsp; available cars
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-next
    .fleet-item__slider
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes S-class (221) Long
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 63 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 63 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 21 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,70 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071899fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071901fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072273fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072274fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071899fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071901fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072273fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072274fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes S-class (221) Long
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 63 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 63 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 21 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,70 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071899fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071901fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072273fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072274fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071899fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071901fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072273fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072274fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes S-class (221) Long
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 63 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 63 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 21 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,70 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071899fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071901fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072273fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072274fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071899fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293071901fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072273fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes S-class/mercedes-benz_s-320__293072274fx.webp')")
  .fleet-item
    h3.fleet-item__title Microbus
    .fleet-item__navigation
      .container
        .row
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-prev
          .col-xl-8.fleet-item__navigation-desc
            span.fleet-item__navigation-title Mercedes-Benz SPRINTER 216
            div
              span.fleet-item__navigation-counter
              span &nbsp;/&nbsp;
              span.fleet-item__navigation-sum 3
              span &nbsp; available cars
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-next
    .fleet-item__slider
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes-Benz SPRINTER 216
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 46 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 36 EUR
                    li.fleet-item__desc-item People: 8
                    li.fleet-item__desc-item Luggage: 5
                    li.fleet-item__desc-item Per hour: 12 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,40 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299690fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299691fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299748fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299749fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299690fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299691fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299748fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299749fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes-Benz SPRINTER 216
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 46 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 36 EUR
                    li.fleet-item__desc-item People: 8
                    li.fleet-item__desc-item Luggage: 5
                    li.fleet-item__desc-item Per hour: 12 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,40 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299690fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299691fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299748fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299749fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299690fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299691fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299748fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299749fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes-Benz SPRINTER 216
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 46 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 36 EUR
                    li.fleet-item__desc-item People: 8
                    li.fleet-item__desc-item Luggage: 5
                    li.fleet-item__desc-item Per hour: 12 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,40 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299690fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299691fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299748fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299749fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299690fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299691fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299748fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz SPRINTER 216/mercedes-benz_sprinter-216-gruz__287299749fx.webp')")
  .fleet-item
    h3.fleet-item__title Business
    .fleet-item__navigation
      .container
        .row
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-prev
          .col-xl-8.fleet-item__navigation-desc
            span.fleet-item__navigation-title Mercedes-Benz S 320
            div
              span.fleet-item__navigation-counter
              span &nbsp;/&nbsp;
              span.fleet-item__navigation-sum 3
              span &nbsp; available cars
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-next
    .fleet-item__slider
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes-Benz S 320
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 46 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 36 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 13 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,45 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619765fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619891fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619831fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619892fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619765fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619891fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619831fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619892fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes-Benz S 320
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 46 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 36 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 13 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,45 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619765fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619891fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619831fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619892fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619765fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619891fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619831fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619892fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Mercedes-Benz S 320
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 46 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 36 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 13 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,45 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619765fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619891fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619831fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619892fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619765fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619891fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619831fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Mercedes-Benz S 320 2005/mercedes-benz_s-320__292619892fx.webp')")
  .fleet-item
    h3.fleet-item__title SUV/Minivan
    .fleet-item__navigation
      .container
        .row
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-prev
          .col-xl-8.fleet-item__navigation-desc
            span.fleet-item__navigation-title GMC Savana
            div
              span.fleet-item__navigation-counter
              span &nbsp;/&nbsp;
              span.fleet-item__navigation-sum 3
              span &nbsp; available cars
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-next
    .fleet-item__slider
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type GMC Savana
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 39 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 39 EUR
                    li.fleet-item__desc-item People: 6
                    li.fleet-item__desc-item Luggage: 5
                    li.fleet-item__desc-item Per hour: 13 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,40 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483857fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483862fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483961fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483964fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483857fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483862fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483961fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483964fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type GMC Savana
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 39 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 39 EUR
                    li.fleet-item__desc-item People: 6
                    li.fleet-item__desc-item Luggage: 5
                    li.fleet-item__desc-item Per hour: 13 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,40 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483857fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483862fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483961fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483964fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483857fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483862fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483961fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483964fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type GMC Savana
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 39 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 39 EUR
                    li.fleet-item__desc-item People: 6
                    li.fleet-item__desc-item Luggage: 5
                    li.fleet-item__desc-item Per hour: 13 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,40 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483857fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483862fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483961fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483964fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483857fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483862fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483961fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/GMC Savana/gmc_savana__273483964fx.webp')")
  .fleet-item
    h3.fleet-item__title Standard
    .fleet-item__navigation
      .container
        .row
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-prev
          .col-xl-8.fleet-item__navigation-desc
            span.fleet-item__navigation-title Toyota Camry
            div
              span.fleet-item__navigation-counter
              span &nbsp;/&nbsp;
              span.fleet-item__navigation-sum 3
              span &nbsp; available cars
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-next
    .fleet-item__slider
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Toyota Camry
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 24 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 24 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 8 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,30 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156224fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156257fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156295fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156389fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156224fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156257fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156295fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156389fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Toyota Camry
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 24 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 24 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 8 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,30 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156224fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156257fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156295fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156389fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156224fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156257fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156295fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156389fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Toyota Camry
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 24 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 24 EUR
                    li.fleet-item__desc-item People: 4
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 8 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,30 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156224fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156257fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156295fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156389fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156224fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156257fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156295fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/Toyota Camry/toyota_camry__293156389fx.webp')")
  .fleet-item
    h3.fleet-item__title Limousine
    .fleet-item__navigation
      .container
        .row
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-prev
          .col-xl-8.fleet-item__navigation-desc
            span.fleet-item__navigation-title Lincoln
            div
              span.fleet-item__navigation-counter
              span &nbsp;/&nbsp;
              span.fleet-item__navigation-sum 3
              span &nbsp; available cars
          .col-xl-2.d-flex.justify-content-center.align-items-center
            .navigation-arrow.navigation-arrow-next
    .fleet-item__slider
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Lincoln
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 90 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 90 EUR
                    li.fleet-item__desc-item People: 10
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 30 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,80 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410620fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410848fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418298fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418888fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410620fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410848fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418298fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418888fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Lincoln
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 90 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 90 EUR
                    li.fleet-item__desc-item People: 10
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 30 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,80 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410620fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410848fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418298fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418888fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410620fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410848fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418298fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418888fx.webp')")
      div
        .fleet-item__slide
          .container
            .row
              .col-xl-6
                .fleet-item__details
                  h4.fleet-item__type Lincoln
                  .fleet-item__minimum
                    div
                      span.fleet-item__minimum-title Minimum order:
                      span.fleet-item__minimum-desc (delivery + 2 hours)
                    span.fleet-item__minimum-price 90 EUR
                  ul.fleet-item__desc
                    li.fleet-item__desc-item Airport transfer: 90 EUR
                    li.fleet-item__desc-item People: 10
                    li.fleet-item__desc-item Luggage: 3
                    li.fleet-item__desc-item Per hour: 30 EUR
                    li.fleet-item__desc-item Throughout Ukraine: 0,80 EUR/km
                  button.button.button--big(type='submit') Book this Car
              .col-xl-6
                .fleet-item__galery
                  .gallery-top
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410620fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410848fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418298fx.webp')")
                    .gallery-top__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418888fx.webp')")
                  .gallery-thumbs
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410620fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271410848fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418298fx.webp')")
                    .gallery-thumbs__slide(style="background-image: url('./assets/img/limo/lincoln_town-car__271418888fx.webp')")
