footer.footer.container-fluid
  .container
    .row.align-items-center
      .col-sm-3
        a.footer-copyright(href='/') &copy; geaner.com
      .col-sm-9
        ul.footer-nav.d-flex.justify-content-end
          li.footer-nav__item
            a.footer-nav__link(href='/privacy.html') privacy policy
          li.footer-nav__item
            a.footer-nav__link(href='/terms.html') terms
          li.footer-nav__item
            a.footer-nav__link(href='/legal.html') legal notice
