.about-timeline.timeline
  .container
    .row
      .col-sm-6.col-xs-12.offset-6.timeline__card
        span.timeline__date 2017
        ul.timeline__list
          li.timeline__item
            | Geaner started with a single luxury car but with well-dressed non-smoking drivers.
      .col-sm-6.col-xs-12.timeline__card
        span.timeline__date 2018
        ul.timeline__list
          li.timeline__item
            | We started offering help with practical information, such as must-see places, interesting art exhibitions and ethnographic parks.
          li.timeline__item
            | Created discount program for long orders and special occasions
      .col-sm-6.col-xs-12.offset-6.timeline__card
        span.timeline__date 2019
        ul.timeline__list
          li.timeline__item
            | Greaner has become a provider with a fleet of 23 partner vehicles and 14 employees
          li.timeline__item
            | 97% of inquiries answered within the first 10 minutes Personal English-speaking assistant available from 8am up to 2am
          li.timeline__item
            | Started new service “bodyguard upon request”, so you feel safe in a foreign country
