section.section.transfer
  .container
    .row
      h2.section__title
        | Fleet we use for Kiev (Zhulyany &amp; Boryspol) airport transfers
    .row
      .col-xl-6.flex-column
        .transfer-card
          h4.transfer-card__title Premium
          .transfer-card__preview
            +icon('eye-01', '')
          .transfer-card__image
            +icon('s-class', '')
          span.transfer-card__subtitle
            | Mercedes S-class or similar
          .transfer-card__details
            .transfer-card__counter.transfer-card__counter--seat
              .transfer-card__icon
                +icon('ico-people', '')
              .transfer-card__num 4
            .transfer-card__counter.transfer-card__counter--luggage
              .transfer-card__icon
                +icon('ico-bag', '')
              .transfer-card__num 3
          .transfer-card__description
            div
              h5 Airport transfer: 63 EUR
              ul
                li Minimum order: 63 EUR (delivery + 2 hours)
                li Per hour: 21 EUR
                li Throughout Ukraine: 0,70 EUR/km
            button.button.button--small(type='submit')
              | Book a Car
      .col-xl-6.flex-column
        .transfer-card
          h4.transfer-card__title Microbus
          .transfer-card__preview
            svg.icon.icon-eye-01
              use(xlink:href='#eye-01')
          .transfer-card__image
            svg.icon.icon-minibus
              use(xlink:href='#minibus')
          span.transfer-card__subtitle
            | Mercedes-Benz Sprinter or
            | similar
          .transfer-card__details
            .transfer-card__counter.transfer-card__counter--seat
              .transfer-card__icon
                svg.icon.icon-ico-people
                  use(xlink:href='#ico-people')
              .transfer-card__num 8
            .transfer-card__counter.transfer-card__counter--luggage
              .transfer-card__icon
                svg.icon.icon-ico-bag
                  use(xlink:href='#ico-bag')
              .transfer-card__num 5
          .transfer-card__description
            div
              h5 Airport transfer: 36 EUR
              ul
                li Minimum order: 46 EUR (delivery + 2 hours)
                li Per hour: 12 EUR
                li Throughout Ukraine: 0,40 EUR/km
            button.button.button--small(type='submit')
              | Book a
              | Car
    .row
      .col-xl-4.flex-column
        .transfer-card
          h4.transfer-card__title Business
          .transfer-card__preview
            svg.icon.icon-eye-01
              use(xlink:href='#eye-01')
          .transfer-card__image
            svg.icon.icon-e-class
              use(xlink:href='#e-class')
          span.transfer-card__subtitle
            | Mercedes E-class or
            | similar
          .transfer-card__details
            .transfer-card__counter.transfer-card__counter--seat
              .transfer-card__icon
                svg.icon.icon-ico-people
                  use(xlink:href='#ico-people')
              .transfer-card__num 4
            .transfer-card__counter.transfer-card__counter--luggage
              .transfer-card__icon
                svg.icon.icon-ico-bag
                  use(xlink:href='#ico-bag')
              .transfer-card__num 3
          .transfer-card__description
            div
              h5 Airport transfer: 45 EUR
              ul
                li Minimum order: 45 EUR (delivery + 2 hours)
                li Per hour: 15 EUR
                li Throughout Ukraine: 0,45 EUR/km
            button.button.button--small(type='submit')
              | Book a
              | Car
      .col-xl-4.flex-column
        .transfer-card
          h4.transfer-card__title SUV/Minivan
          .transfer-card__preview
            svg.icon.icon-eye-01
              use(xlink:href='#eye-01')
          .transfer-card__image
            svg.icon.icon-suv
              use(xlink:href='#suv')
          span.transfer-card__subtitle
            | Mercedes Viano or
            | similar
          .transfer-card__details
            .transfer-card__counter.transfer-card__counter--seat
              .transfer-card__icon
                svg.icon.icon-ico-people
                  use(xlink:href='#ico-people')
              .transfer-card__num 6
            .transfer-card__counter.transfer-card__counter--luggage
              .transfer-card__icon
                svg.icon.icon-ico-bag
                  use(xlink:href='#ico-bag')
              .transfer-card__num 5
          .transfer-card__description
            div
              h5 Airport transfer: 39 EUR
              ul
                li Minimum order: 39 EUR (delivery + 2 hours)
                li Per hour: 13 EUR
                li Throughout Ukraine: 0,40 EUR/km
            button.button.button--small(type='submit')
              | Book a
              | Car
      .col-xl-4.flex-column
        .transfer-card
          h4.transfer-card__title Standard
          .transfer-card__preview
            svg.icon.icon-eye-01
              use(xlink:href='#eye-01')
          .transfer-card__image
            svg.icon.icon-econ
              use(xlink:href='#econ')
          span.transfer-card__subtitle
            | Volkswagen Jetta or
            | similar
          .transfer-card__details
            .transfer-card__counter.transfer-card__counter--seat
              .transfer-card__icon
                svg.icon.icon-ico-people
                  use(xlink:href='#ico-people')
              .transfer-card__num 4
            .transfer-card__counter.transfer-card__counter--luggage
              .transfer-card__icon
                svg.icon.icon-ico-bag
                  use(xlink:href='#ico-bag')
              .transfer-card__num 3
          .transfer-card__description
            div
              h5 Airport transfer: 24 EUR
              ul
                li Minimum order: 24 EUR (delivery + 2 hours)
                li Per hour: 8 EUR
                li Throughout Ukraine: 0,30 EUR/km
            button.button.button--small(type='submit')
              | Book a
              | Car
    .row.justify-content-center
      .col-xl-8.flex-column
        .transfer-card
          h4.transfer-card__title Limousine
          .transfer-card__preview
            svg.icon.icon-eye-01
              use(xlink:href='#eye-01')
          .transfer-card__image
            svg.icon.icon-limo
              use(xlink:href='#limo')
          span.transfer-card__subtitle Lincoln or similar
          .transfer-card__details
            .transfer-card__counter.transfer-card__counter--seat
              .transfer-card__icon
                svg.icon.icon-ico-people
                  use(xlink:href='#ico-people')
              .transfer-card__num 10
            .transfer-card__counter.transfer-card__counter--luggage
              .transfer-card__icon
                svg.icon.icon-ico-bag
                  use(xlink:href='#ico-bag')
              .transfer-card__num 3
          .transfer-card__description
            div
              h5 Airport transfer: 90 EUR
              ul
                li Minimum order: 90 EUR (delivery + 2 hours)
                li Per hour: 30 EUR
                li Throughout Ukraine: 0,80 EUR/km
            button.button.button--small.button--small-white(type='submit')
              | Book a
              | Car
