section.section.use
  .container
    .row
      h2.section__title fleet we use
    .row.justify-content-around
      .col-xl-3
        .use__item.d-flex.flex-column.align-items-center
          .use__image
            +icon('ico-7-01', '')
          span.use__desc Well maintained
      .col-xl-3
        .use__item.d-flex.flex-column.align-items-center
          .use__image
            +icon('ico-8-01', '')
          span.use__desc Clean
      .col-xl-3
        .use__item.d-flex.flex-column.align-items-center
          .use__image
            +icon('ico-9-01', '')
          span.use__desc No-smoking
