section.section.why
  .container
    .row
      h2.section__title why book with us?
  .why__row
    .container
      .row
        .col-xl-4
          .why__item.d-flex.flex-column.align-items-center
            .why__image
              +icon('ico-4-01', '')
            span.why__desc
              | Free wait time
              br
              | up to 60 minutes
        .col-xl-4
          .why__item.d-flex.flex-column.align-items-center
            .why__image
              +icon('ico-5-01', '')
            span.why__desc
              | 10 % Discount
              br
              | (for 8hrs and longer orders)
        .col-xl-4
          .why__item.d-flex.flex-column.align-items-center
            .why__image
              +icon('ico-6-01', '')
            span.why__desc
              | Free
              br
              | child seats

