* {
  margin: 0;
  padding: 0;
  transition: all .4s;
}

html,
body,
.preloader {
  width: 100%;
  height: 100%;
}

.preloader {
  background: #21252b;
}

#preloader__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
}
