// ===================  Modules  ========================

// @import 'modules/reset';
@import 'modules/variables';
@import 'modules/mixin_font-face';
@import 'modules/fontstylesheet';

// ==============  Responsive Font Size  ================

@import '../../node_modules/rfs/scss';

// ==================== PNG Sprite ======================

@import 'modules/mixin-spritePng';
@import 'temp/spritePng';
@import 'temp/spriteSvg';

// ====================  Plugins  =======================

// Bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/_utilities';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Swiper

@import '../../node_modules/swiper/dist/css/swiper.min.css';

// ====================  Default  =======================

p {
  hyphens: auto;
}

button,
a,
input {
  outline: 0;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  transition: all .2s linear;
}

li {
  list-style-type: none;
}

body {
  font-family: $raleway;
  font-weight: 500;
  color: $gray-dark;

  @include rfs(16);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
}

.section {
  &__suptitle {
    text-transform: uppercase;
    line-height: 37px;

    @include rfs(16);
  }

  &__title {
    @include rfs(26);
    text-transform: capitalize;

    &::after {
      display: block;
      margin: 8px auto;
      content: '';

      @include spritePng($wave_2);
    }
  }

  &__text {
    line-height: 22px;
  }
}

// ====================  Partials  ======================

@import 'partials/header';
@import 'partials/banner';
@import 'partials/services';
@import 'partials/discover';
@import 'partials/counters';
@import 'partials/offer';
@import 'partials/discount';
@import 'partials/reviews';
@import 'partials/popular';
@import 'partials/map';
@import 'partials/footer';

// ======================  Media  =======================

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}
