# Thumbnails
._*
Thumbs.db
ehthumbs.db

# OSX
.DS_Store*
.AplleDouble
.LSOverride

# Icon must end with two \r
Icon?

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.Spotlight-V100
.fseventsd
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Sass
.sass-cache
*.*.map
*.map

# Node modules, npm logs, bower components
node_modules
npm-debug.log
bower_components

# Archives, distributions
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Database, logs
*.log
*.sql
*.sqlite

# Others
_site
.idea
Desktop.ini
