<footer class="footer">
    <div class="footer__wrapper">
        <a href="#" class="footer__logo">URLAUBSGLÜCK</a>
        <span class="footer__company">Company</span>
        <nav class="footer__menu">
            <li class="menu__item"><a class="menu__link" href="#">About</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Contacts</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Press</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Blog</a></li>
        </nav>
        <span class="footer__partners">Partners</span>
        <a class="footer__dev-logo" href="#"></a>
    </div>
</footer>
