<header class="header">
    <div class="wrapper">
        <div class="container">
            <div class="authorization">
                <a class="authorization__item--log" href="#">
                    <p>Log in</p>
                </a>
                <a class="authorization__item--sign" href="#">
                    <p>Sign up</p>
                </a>
            </div>
            <a class="logo" href="#">
                <p>URLAUBSGLÜCK</p>
            </a>
            <h1 class="tagline">Share your holiday dreams</h1>
            <h3 class="comment">And find the perfect partner to fullfill it</h3>
            <a class="findbutton" href="#">
                <p>Find your holiday partner</p>
            </a>
        </div>
    </div>
</header>
