<section class="sliders">
    <h2 class="sliders__title">How Urlaubsglück works?</h2>
    <div class="sliders__box sliders__box--first">
        <ul class="slidelist">
            <li class="slidelist__item slidelist__item--first">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button">step 1</span>
                    <h2 class="step__title">Sed leo enim, condimentum</h2>
                    <span class="step__description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                </a>
            </li>
            <li class="slidelist__item slidelist__item--second">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button step__button--mod">step 2</span>
                    <h2 class="step__title">Morbi velit risus</h2>
                    <span class="step__description">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
                </a>
            </li>
            <li class="slidelist__item slidelist__item--third">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button">step 3</span>
                    <h2 class="step__title">Sed leo enim, condimentum</h2>
                    <span class="step__description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                </a>
            </li>
        </ul>
        <span class="prev-slide prev-slide--first"></span>
        <span class="next-slide next-slide--first"></span>
    </div>
    <div class="sliders__box sliders__box--second">
        <ul class="slidelist">
            <li class="slidelist__item slidelist__item--second">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button step__button--mod">step 2</span>
                    <h2 class="step__title">Morbi velit risus</h2>
                    <span class="step__description">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
                </a>
            </li>
            <li class="slidelist__item slidelist__item--third">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button">step 3</span>
                    <h2 class="step__title">Sed leo enim, condimentum</h2>
                    <span class="step__description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                </a>
            </li>
            <li class="slidelist__item slidelist__item--first">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button">step 1</span>
                    <h2 class="step__title">Sed leo enim, condimentum</h2>
                    <span class="step__description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                </a>
            </li>
        </ul>
        <span class="prev-slide prev-slide--second"></span>
        <span class="next-slide next-slide--second"></span>
    </div>
    <div class="sliders__box sliders__box--third">
        <ul class="slidelist">
            <li class="slidelist__item slidelist__item--third">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button">step 3</span>
                    <h2 class="step__title">Sed leo enim, condimentum</h2>
                    <span class="step__description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                </a>
            </li>
            <li class="slidelist__item slidelist__item--first">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button">step 1</span>
                    <h2 class="step__title">Sed leo enim, condimentum</h2>
                    <span class="step__description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                </a>
            </li>
            <li class="slidelist__item slidelist__item--second">
                <span class="background"></span>
                <a class="step" href="#">
                    <span class="step__button step__button--mod">step 2</span>
                    <h2 class="step__title">Morbi velit risus</h2>
                    <span class="step__description">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
                </a>
            </li>
        </ul>
        <span class="prev-slide prev-slide--third"></span>
        <span class="next-slide next-slide--third"></span>
    </div>
</section>
