section.section.about
  .outer
    .container
      .inner
        .column
          h1.about__title Бюро
            span.about__title.about__title--blue
              |  высоких технологий
          p.about__text
            | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах
          button.button.button--request Заявка на участие
        .column
          .about__circle-outer
            .about__circle
            .about__logo
            ul.about__tech.tech
              li.tech__item
              li.tech__item
              li.tech__item
              li.tech__item
              li.tech__item
              li.tech__item
