section.section.about
  .outer
    .container
      .inner
        .column
          h1.about__title Бюро
            span.about__title.about__title--blue
              |  высоких технологий
          p.about__text
            | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах
          button.button.button--request Заявка на участие
        .column
          .about__circle-outer
            .about__circle
            .about__logo
            ul.about__tech.tech
              li.tech__item.tooltip(data-tooltip-content="#python")
              li.tech__item.tooltip(data-tooltip-content="#php")
              li.tech__item.tooltip(data-tooltip-content="#java")
              li.tech__item.tooltip(data-tooltip-content="#redis")
              li.tech__item.tooltip(data-tooltip-content="#devops")
              li.tech__item.tooltip(data-tooltip-content="#data")

  .tooltip_templates
    #python
      h5.tooltip_title Python
      span.tooltip_text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому
    #php
      h5.tooltip_title Php
      span.tooltip_text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому
    #java
      h5.tooltip_title Java
      span.tooltip_text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому
    #redis
      h5.tooltip_title Redis
      span.tooltip_text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому
    #devops
      h5.tooltip_title Devops
      span.tooltip_text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому
    #data
      h5.tooltip_title Data Science
      span.tooltip_text
        | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому

