mixin card(photo, title, text, date)
  a(href="#").blog__card.card
    img(src="img/" + photo, alt="photo").card__photo
    .card__desc
      h4.card__title= title
      p.card__text= text
      .card__bottom
        span.card__date= date
        div.card__more

section.section.blog
  .outer
    .container
      h2.section__title Журнал
      .inner
        +card('photo-card.jpg', 'Заголовок', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более ...', '26.03.2018')
        +card('photo-card.jpg', 'Заголовок', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более ...', '26.03.2018')
        +card('photo-card.jpg', 'Заголовок', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более ...', '26.03.2018')
