.modal
  .modal__inner
    h3.modal__title
      | Заявка на участие
    .modal__button.modal__button--close
      span
    form.modal__form(method="post" action="#")
      input.modal__input.modal__input--name(type="text" name="name" id="name" placeholder="Имя")
      input.modal__input.modal__input--phone(type="tel" name="phone" id="phone" placeholder="Телефон")
      input.modal__input.modal__input--email(type="email" name="email" id="email" placeholder="E-Mail")
      button.button.button--send(type="submit")
        | Отправить
  span.modal__message
    | Заявка отправлена!
