mixin menuItem(href, title)
  li.menu__item(class!=attributes.class)
    a(href= href).menu__link= title

nav.navbar
  .container
    .navbar__inner
      a(href="#").logo
        .logo__image
        .logo__text
          span Всё просто
          small Бюро высоких технологий
      .burger
        span.burger__line
        span.burger__line
        span.burger__line
      #menu.menu
        ul.menu__list
          +menuItem('#about', 'О комании')(class="menu__item--active")
          +menuItem('#services', 'Услуги')
          +menuItem('#portfolio', 'Портфолио')
          +menuItem('#team', 'Сотрудники')
          +menuItem('#reviews', 'Отзывы')
          +menuItem('#blog', 'Блог')
          +menuItem('#contacts', 'Контакты')

