mixin portfolioCard(title, text, icon1, icon2, icon3)
  .portfolio__card.card
    .card__front
    .card__back
      .card__desc
        h3.card__title= title
        p.card__text= text
      .card__icons
        div(class="card__icon card__icon--" + icon1)
        div(class="card__icon card__icon--" + icon2)
        div(class="card__icon card__icon--" + icon3)

section.section.portfolio
  .outer
    .container
      .portfolio__top
        h2.section__title Наши проекты
        button.button.button--all все проекты
      .slide(data-anchor="slide1")
        .inner
          .portfolio__cards
            +portfolioCard('Система для разработки клинических рекомендаций', 'Формирование протоколов лечения онкологических заболеваний и шаблонов рецептов', 'data', 'java', 'redis')
            +portfolioCard('Мобильное приложение для мониторинга нарушений зрения', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах', 'java', 'redis', '')
            +portfolioCard('Система для разработки клинических рекомендаций', 'Формирование протоколов лечения онкологических заболеваний и шаблонов рецептов', 'data', 'java', 'redis')

      .slide(data-anchor="slide2")
        .inner
          .portfolio__cards
            +portfolioCard('Система для разработки клинических рекомендаций', 'Формирование протоколов лечения онкологических заболеваний и шаблонов рецептов', 'data', 'java', 'redis')
            +portfolioCard('Мобильное приложение для мониторинга нарушений зрения', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах', 'java', 'redis', '')
            +portfolioCard('Система для разработки клинических рекомендаций', 'Формирование протоколов лечения онкологических заболеваний и шаблонов рецептов', 'data', 'java', 'redis')

      .slide(data-anchor="slide3")
        .inner
          .portfolio__cards
            +portfolioCard('Система для разработки клинических рекомендаций', 'Формирование протоколов лечения онкологических заболеваний и шаблонов рецептов', 'data', 'java', 'redis')
            +portfolioCard('Мобильное приложение для мониторинга нарушений зрения', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах', 'java', 'redis', '')
            +portfolioCard('Система для разработки клинических рекомендаций', 'Формирование протоколов лечения онкологических заболеваний и шаблонов рецептов', 'data', 'java', 'redis')
