mixin review(photo, name, position, company, text)
  .review
    img(src="img/" + photo, alt="photo").review__photo
    .review__desc
      h4.review__name= name
      span.review__position= position
        span.review__company= company
      p.review__text= text
      a(href="#").review__more Подробнее

section.section.reviews
  .outer
    .container
      h2.section__title Отзывы
      .slide(data-anchor="slide1")
        .inner
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
      .slide(data-anchor="slide2")
        .inner
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
      .slide(data-anchor="slide3")
        .inner
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
      .slide(data-anchor="slide4")
        .inner
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
      .slide(data-anchor="slide5")
        .inner
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
          .column
            +review('review-photo.jpg', 'Иван Иванович', 'должность', 'компания', 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона...')
