section.section.service
  .outer
    .container
      h2.section__title Направления
      .inner
        .column.ie
          .service__img.service__img--ie
          .service__desc
            h3.service__subtitle Искусственный интеллект
            p.service__text
              | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
            ul.service__list
              li.service__item
                a(href="#").service__link Data Science
                span.service__arrow
              li.service__item
                a(href="#").service__link Нейронные сети
                span.service__arrow
              li.service__item
                a(href="#").service__link Математические модели
                span.service__arrow
        .column.de
          .service__img.service__img--de
          .service__desc
            h3.service__subtitle Цифровая экономика
            p.service__text
              | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона
            ul.service__list
              li.service__item
                a(href="#").service__link Web проекты
                span.service__arrow
              li.service__item
                a(href="#").service__link Офлайн IT проекты
                span.service__arrow
              li.service__item
                a(href="#").service__link Дополненная реальность
                span.service__arrow
              li.service__item
                a(href="#").service__link Виртуальная реальность и 3D
                span.service__arrow
