.swiper-container
  .swiper-wrapper
    .swiper-slide.swiper-slide--slide1.slide
      .container
        .row
          .col
            span.slide__price From $199/Person
            h1.slide__title Discover Greece
            span.slide__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide2.slide
      .container
        .row
          .col
            span.slide__price From $199/Person
            h1.slide__title Discover Italy
            span.slide__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide3.slide
      .container
        .row
          .col
            span.slide__price From $199/Person
            h1.slide__title Discover Indonesia
            span.slide__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide4.slide
      .container
        .row
          .col
            span.slide__price From $199/Person
            h1.slide__title Discover Singapore
            span.slide__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide5.slide
      .container
        .row
          .col
            span.slide__price From $199/Person
            h1.slide__title Discover Nepal
            span.slide__desc TRAVEL WITH UNIQUE EXPERIENCE
  .swiper-button-prev
    +icon('arrow-left')
  .swiper-button-next
    +icon('arrow-right')
