.swiper-banner.banner
  .swiper-wrapper
    .swiper-slide.swiper-slide--slide1
      .container
        .row
          .col
            span.banner__price From $199/Person
            h2.banner__title Discover Greece
            span.banner__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide2
      .container
        .row
          .col
            span.banner__price From $199/Person
            h2.banner__title Discover Italy
            span.banner__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide3
      .container
        .row
          .col
            span.banner__price From $199/Person
            h2.banner__title Discover Indonesia
            span.banner__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide4
      .container
        .row
          .col
            span.banner__price From $199/Person
            h2.banner__title Discover Singapore
            span.banner__desc TRAVEL WITH UNIQUE EXPERIENCE
    .swiper-slide.swiper-slide--slide5
      .container
        .row
          .col
            span.banner__price From $199/Person
            h2.banner__title Discover Nepal
            span.banner__desc TRAVEL WITH UNIQUE EXPERIENCE
  .swiper-button-prev
    +icon('arrow-left')
  .swiper-button-next
    +icon('arrow-right')
  .banner__mouse
    +icon('mouse')
