mixin counter(number, title)
    .counter.col-3.d-flex.flex-column.justify-content-center.align-items-center
      .counter__icon
      span.counter__number(data-count= number) 0
      span.counter__title= title

section.section.counters
  .container
    .row
      +counter('120,859', 'HAPPY TRAVELLERS')
      +counter('2594', 'SATISFIED TOURS')
      +counter('854', 'DESTINATION')
      +counter('978', 'HOTELS $ RESORTS')
