section.section.discount
  .container
    .row.justify-content-center
      .col-7
        h2.discount__title Get 10% Off on Your Next Travel
        span.discount__subtitle Maximum doscout 1000$ per person
        form(action="POST").discount__form.d-flex.justify-content-around.align-content-center
          input(type="email", name="emailaddress", placeholder="Enter your email").discount__input
          button(type="submit").discount__button SUBSCRIBE
