section#about.section.discover.container-fluid.align-items-center
  .container
    .row.flex-column.align-items-center
      .col
        .discover__desc.wow.fadeInUp(data-wow-offset="150")
          span.section__suptitle DISCOVER
          h2.section__title Watch Our Video Tour
      .col-xl-8.col-md-12.col-sm-12.discover__video.wow.fadeInUp(data-wow-offset="150")
        iframe(width="560" height="315" src="https://www.youtube.com/embed/mAVw84I535k?modestbranding=1&autohide=1&showinfo=0&controls=1&rel=0" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")
