header.header.container-fluid.align-items-center
  .container
    nav.row.justify-content-between
      div.col-2
        a(href="#").header__logo
      ul.header__menu.menu.col_6.d-flex.justify-content-start
        li.menu__item.menu__item--active
          a(href="#home").menu__link Home
        li.menu__item
          a(href="#services").menu__link Our services
        li.menu__item
          a(href="#about").menu__link About us
        li.menu__item
          a(href="#tour").menu__link Tour package

