mixin article(image, title, text)
  article.article
    .article__photo-wrap
      img(src= image, alt="photo").article__photo.img-fluid
    h4.article__title= title
    p.article__text= text

section#services.section.services
  .container
    .row
      .col-xl-3.col-md-12
        .services__card
          span.section__suptitle Discover
          h3.section__title Our Hot Services
          p.section__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      .col-xl-3.col-md-6
        +article('img/services/services_1.jpg', 'FLIGHT BOOKING', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem.')
      .col-xl-3.col-md-6
        +article('img/services/services_4.jpg', 'CRUISE TOUR', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem.')
      .col-xl-3.col-md-6
        +article('img/services/services_2.jpg', 'HOTEL & RESORT BOOKING', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem.')
      .col-xl-3.col-md-6
      .col-xl-3.col-md-6
        +article('img/services/services_5.jpg', 'FIRE CAMP', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem.')
      .col-xl-3.col-md-6
        +article('img/services/services_3.jpg', 'FAMILY TRIP PLANNER', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem.')
      .col-xl-3.col-md-6
        +article('img/services/services_6.jpg', 'CORPORATE HOLIDAYS', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem.')
