<section  class="gallery" id="gallery">
  <div class="gallery__wrapper">
    <div class="galltitle">
      <span class="galltitle__burg galltitle__burg--pre"></span>
      gallery
      <span class="galltitle__burg galltitle__burg--post"></span>
    </div>
    <span class="galldescription">You yourself are testing the taste benefits of each method and select the type of cooking yourself</span>

    <div class="gall-slider">
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg3.jpg" alt="">
        <span class="gall-slider__name">1  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg1.jpg" alt="">
        <span class="gall-slider__name">2  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg2.jpg" alt="">
        <span class="gall-slider__name">3  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg3.jpg" alt="">
        <span class="gall-slider__name">4  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg1.jpg" alt="">
        <span class="gall-slider__name">5  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg2.jpg" alt="">
        <span class="gall-slider__name">6  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg3.jpg" alt="">
        <span class="gall-slider__name">7  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg1.jpg" alt="">
        <span class="gall-slider__name">8  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg2.jpg" alt="">
        <span class="gall-slider__name">9  from  10</span>
      </div>
      <div class="gall-slider__slide">
        <img class="gall-slider__content" src="img/galleryimg1.jpg" alt="">
        <span class="gall-slider__name">10  from  10</span>
      </div>
    </div>

    <div class="gall-slider__arrows">
      <div class="prevarrow">
        <span class="gall-slider__arrow gall-slider__arrow--prev"></span>
        <span class="gall-slider__btnarrow gall-slider__btnarrow--prev"></span>
      </div>
      <div class="nextarrow">
        <span class="gall-slider__arrow gall-slider__arrow--next"></span>
        <span class="gall-slider__btnarrow gall-slider__btnarrow--next"></span>
      </div>
    </div>
  </div>
  <div class="gallery__wrappermask"></div>
</section>
