<header class="header">
  <div class="header-wrapper">
    <div class="header__container--left"></div>
    <nav class="fixed">
      <ul class="fixed-menu">
        <li class="fixed-menu__item">
          <a class="fixed-menu__link fixed-menu__link--active" href="#program">program</a>
        </li>
        <li class="fixed-menu__item">
          <a class="fixed-menu__link" href="#gallery">gallery</a>
        </li>
        <li class="fixed-menu__item">
          <a class="fixed-menu__link" href="#testimonials">reviews</a>
        </li>
        <li class="fixed-menu__item">
          <a class="fixed-menu__link" href="#partners">partners</a>
        </li>
        <li class="fixed-menu__item">
          <a class="fixed-menu__link" href="#contact">contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__container">
      <div class="head">
        <nav class="head-menu">
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link menu__link--active" href="#program">program</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#gallery">gallery</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#testimonials">reviews</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#partners">partners</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#contact">contact</a>
            </li>
          </ul>
        </nav>
        <p class="phone"><span class="phone--thin">+</span>38 (099) 66<span class="phone--thin">-</span>11<span class="phone--thin">-</span>730</p>
      </div>
      <a href="/" class="logo">
        <img src="img/logo.png" alt="ICON" class="logo__img">
      </a>
    </div>
    <div class="title">
      <span class="title__stars"></span>
      <h5 class="title__pre"><span class="leftarrow"></span>Intensive program barista training<span class="rightarrow"></span></h5>
      <h1 class="title__main">Barista Training in <span class="title__main--yellow">amsterdam</span></h1>
      <h4 class="title__post">On the basis of the company's largest coffee roasters</h4>
      <span class="middlearrow"></span>
      <a class="scrolldown" href="#program">
        <img src="img/arrowdown.png" alt="arrow" class="arrowdown">
      </a>
    </div>
  </div>
  <div class="header-wrappermask"></div>
</header>
