<section class="partners" id="partners">
  <div class="partners-title">
    <span class="partners-title__burg partners-title__burg--pre"></span>
    <h2 class="partners-title__main">Our partners</h2>
    <span class="partners-title__burg partners-title__burg--post"></span>
  </div>
  <div class="partners-line"></div>
  <div class="partners-slider">
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner1.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner2.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner3.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner4.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner5.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner6.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner1.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner2.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner3.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner4.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner5.png" alt="">
      </a>
    </div>
    <div class="partners-slider__slide">
      <a class="partners-slider__link" href="#">
        <img class="partners-slider__img" src="img/partner6.png" alt="">
      </a>
    </div>
  </div>
  <div class="partners-slider__arrows">
    <span class="partners-slider__arrow partners-slider__arrow--prev"></span>
    <span class="partners-slider__arrow partners-slider__arrow--next"></span>
  </div>
</section>
