<section class="program" id="program">
  <div class="program-wrapper">
    <div class="progtitle">
      <h1 class="progtitle__top">
        <img class="progtitle__star" src="img/star.png" alt="">programs<img class="progtitle__star--right" src="img/star.png" alt=""></h1>
      <p class="progtitle__bottom">We share their experience and professional barista championships multiple winners</p>
    </div>
    <div class="progtabs">
      <ul class="progtabs__menu">
        <li class="progtabs__item progtabs__item--active"><span>Basic</span></li>
        <li class="progtabs__item"><span>Premium</span></li>
        <li class="progtabs__item"><span>Platinum</span></li>
      </ul>
      <div class="progtabs__desk">
        <div id="tab1" class="progtabs__content progtabs__content--active">
          <img class="progtabs__img" src="img/tabimg1.jpg" alt="tabimg">
          <span class="progtabs__bigname progtabs__bigname--basic">Basic</span>
          <div class="progtabs__info">
            <span class="progtabs__title">Beginners Course</span>
            <div class="progtabs__description">
              <span class="point"><img src="img/certificate.png" alt="">Certificate</span>
              <span class="point"><img src="img/clock.png" alt="">240 minutes</span>
            </div>
            <p class="progtabs__price">1&nbsp;500<span>usd</span></p>
            <form >
              <input class="progtabs__button" type="button" value="registration">
            </form>
          </div>
        </div>
        <div id="tab2" class="progtabs__content">
          <img class="progtabs__img" src="img/tabimg2.jpg" alt="tabimg">
          <span class="progtabs__bigname progtabs__bigname--premium">Premium</span>
          <div class="progtabs__info">
            <span class="progtabs__title">Premium Course</span>
            <div class="progtabs__description">
              <span class="point"><img src="img/certificate.png" alt="">Certificate</span>
              <span class="point"><img src="img/clock.png" alt="">240 minutes</span>
            </div>
            <p class="progtabs__price">2&nbsp;500<span>usd</span></p>
            <form >
              <input class="progtabs__button" type="button" value="registration">
            </form>
          </div>
        </div>
        <div id="tab3" class="progtabs__content">
          <img class="progtabs__img" src="img/tabimg3.jpg" alt="tabimg">
          <span class="progtabs__bigname progtabs__bigname--platinum">Platinum</span>
          <div class="progtabs__info">
            <span class="progtabs__title">Platinum Course</span>
            <div class="progtabs__description">
              <span class="point"><img src="img/certificate.png" alt="">Certificate</span>
              <span class="point"><img src="img/clock.png" alt="">240 minutes</span>
            </div>
            <p class="progtabs__price">3&nbsp;500<span>usd</span></p>
            <form >
              <input class="progtabs__button" type="button" value="registration">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="progarticles">
      <div class="progarticles__block">
        <h5 class="arttitle">Provenance<br>coffee and basic concepts:</h5>
        <ul class="artlist">
          <li class="artlist__item"><p>Legend of the origin of coffee.</p></li>
          <li class="artlist__item"><p>- Chronicle of the spread of the coffee tree</p></li>
          <li class="artlist__item"><p>- What is coffee?</p></li>
          <li class="artlist__item"><p>- The structure of the coffee berry</p></li>
          <li class="artlist__item"><p>- Arabica and Robusta</p></li>
          <li class="artlist__item"><p>- Coffee Belt land</p></li>
          <li class="artlist__item"><p>- Fruiting coffee tree</p></li>
          <li class="artlist__item"><p>- Seven steps of the coffee plantation to the consumer</p></li>
          <li class="artlist__item"><p>- Breeding and hybridization of coffee tree</p></li>
        </ul>
      </div>
      <div class="progarticles__block">
        <h5 class="arttitle">coffee production technology:</h5>
        <ul class="artlist">
          <li class="artlist__item"><p>- Methods for collecting coffee berries</p></li>
          <li class="artlist__item"><p>- Processing collected berries</p></li>
          <li class="artlist__item"><p>- Calibration and sorting</p></li>
          <li class="artlist__item"><p>- Some methods of classification and labeling &nbsp;of coffee beans.</p></li>
          <li class="artlist__item"><p>- Formation of grade names.</p></li>
          <li class="artlist__item"><p>- Storage of green (not fried) Coffee</p></li>
        </ul>
      </div>
      <div class="progarticles__block">
        <h5 class="arttitle">roasting Technology<br>bean. and Stage<br>types of roasting.</h5>
        <ul class="artlist">
          <li class="artlist__item"><p>- The technology of roasting coffee beans.</p></li>
          <li class="artlist__item"><p>- Changes in the beans.</p></li>
          <li class="artlist__item"><p>- Stages and types of roasting.</p></li>
          <li class="artlist__item"><p>- Roasted coffee. Monosorta and hood.</p></li>
          <li class="artlist__item"><p>- Decaffeination of coffee</p></li>
          <li class="artlist__item"><p>- Flavoring</p></li>
          <li class="artlist__item"><p>- Storage roasted coffee</p></li>
        </ul>
      </div>
    </div>
    <div class="progtable">
      <div class="progtable__wrapper">
        <h5 class="progtable__title">The course also includes:</h5>
        <table class="table">
          <tr class="row">
            <td class="cell cell--check"><img src="img/checkimg.png" alt=""></td>
            <td class="cell">Coffee machine and grinder - practice - types of coffee machines and coffee grinders</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/checkimg.png" alt=""></td>
            <td class="cell">What makes professional coffee machines and coffee grinders.</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">Main components of coffee machines and coffee-Lathes, autolathes. Their purpose</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">How to choose a coffee machine and coffee grinder</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">The structure of the machine. How to maintain, clean and customize coffee machine</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">The structure of the grinders. How to maintain, clean and customize coffee Molko</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/checkimg.png" alt=""></td>
            <td class="cell">Making beverages - praktika- machines and espresso rules</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">Technology and regulations frothed milk</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">Terms of tasting coffee</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">Terms of preparation of standard drinks line: espresso, cappuccino, latte and others.</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">Latte Art - Features practice and the importance of Latte Art in business and the barista</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">1 views Latte Art - Pitching</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">2 views Latte Art - topping</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">3 views Latte Art - Etching</td>
          </tr>
          <tr class="row">
            <td class="cell cell--check"><img src="img/crossimg.png" alt=""></td>
            <td class="cell">4 views Latte Art - chocolate chip stencils</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="program-wrappermask"></div>
</section>
