<section class="quest" id="contact">
  <div class="quest-wrapper">
    <span class="quest-wrapper__title">have questions?</span>
    <span class="quest-wrapper__desc">Leave a request and we will contact you shortly</span>
    <form class="quest-wrapper__inputs" name="test" method="post" action="input1.php">
      <div class="quest-wrapper__block">
        <input class="quest-wrapper__inputtext" type="text" placeholder="YOUR NAME">
        <input class="quest-wrapper__inputtext"type="text" placeholder="CONTACT NUMBER">
      </div>
      <div class="quest-wrapper__btn">
        <input class="quest-wrapper__btninput" type="submit" value="SEND">
        <div class="quest-wrapper__btnarrow"></div>
      </div>
    </form>
  </div>
  <div class="quest-wrappermask"></div>
</section>
