<section class="reviews" id="testimonials">
  <div class="reviews-wrapper">
    <span class="reviews__title">testimonials</span>
    <span class="reviews__desc">We have enough patience to teach you the art of coffee</span>
    <div class="reviews-slider">
      <div class="reviews-slider__slide">
        <a class="reviews-slider__link" href="#">
          <span class="reviews-slider__img">f</span>
        </a>
        <h6 class="reviews-slider__name">Alex Nikandrov</h6>
        <p class="reviews-slider__content">Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!</p>
      </div>
      <div class="reviews-slider__slide">
        <a class="reviews-slider__link" href="#">
          <span class="reviews-slider__img">f</span>
        </a>
        <h6 class="reviews-slider__name">Alex Nikandrov</h6>
        <p class="reviews-slider__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor excepturi modi voluptatibus sed, et fugiat, blanditiis dolorem commodi asperiores minus ut, saepe voluptatem tempora, eum ducimus vero quidem tenetur esse!</p>
      </div>
      <div class="reviews-slider__slide">
        <a class="reviews-slider__link" href="#">
          <span class="reviews-slider__img">f</span>
        </a>
        <h6 class="reviews-slider__name">Alex Nikandrov</h6>
        <p class="reviews-slider__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam perferendis modi fuga at, blanditiis dolor. Cumque eaque laudantium ducimus eos laboriosam officiis, commodi, aut nobis. Autem itaque deserunt ex. Cumque eaque laudantium ducimus eos laboriosam officiis, commodi, aut nobis. Autem itaque deserunt ex.</p>
      </div>
      <div class="reviews-slider__slide">
        <a class="reviews-slider__link" href="#">
          <span class="reviews-slider__img">f</span>
        </a>
        <h6 class="reviews-slider__name">Alex Nikandrov</h6>
        <p class="reviews-slider__content">Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!</p>
      </div>
      <div class="reviews-slider__slide">
        <a class="reviews-slider__link" href="#">
          <span class="reviews-slider__img">f</span>
        </a>
        <h6 class="reviews-slider__name">Alex Nikandrov</h6>
        <p class="reviews-slider__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor excepturi modi voluptatibus sed, et fugiat, blanditiis dolorem commodi asperiores minus ut, saepe voluptatem tempora, eum ducimus vero quidem tenetur esse!</p>
      </div>
      <div class="reviews-slider__slide">
        <a class="reviews-slider__link" href="#">
          <span class="reviews-slider__img">f</span>
        </a>
        <h6 class="reviews-slider__name">Alex Nikandrov</h6>
        <p class="reviews-slider__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error numquam perferendis modi fuga at, blanditiis dolor. Cumque eaque laudantium ducimus eos laboriosam officiis, commodi, aut nobis. Autem itaque deserunt ex. Cumque eaque laudantium ducimus eos laboriosam officiis, commodi, aut nobis. Autem itaque deserunt ex.</p>
      </div>
    </div>
    <div class="reviews-slider__arrows">
      <span class="reviews-slider__arrow reviews-slider__arrow--prev"></span>
      <span class="reviews-slider__arrow reviews-slider__arrow--next"></span>
    </div>
    <div class="reviews-slider__dots"></div>
  </div>
</section>
