$about_circle: 0px 0px 0px 0px 573px 573px 743px 715px 'spritePng.png';
$about_logo: 0px 583px 0px -583px 138px 132px 743px 715px 'spritePng.png';
$instagram: 696px 526px -696px -526px 28px 28px 743px 715px 'spritePng.png';
$lang-data: 583px 526px -583px -526px 103px 41px 743px 715px 'spritePng.png';
$lang-devops: 148px 638px -148px -638px 86px 28px 743px 715px 'spritePng.png';
$lang-java: 148px 583px -148px -583px 77px 45px 743px 715px 'spritePng.png';
$lang-php: 583px 445px -583px -445px 108px 71px 743px 715px 'spritePng.png';
$lang-python: 344px 583px -344px -583px 99px 24px 743px 715px 'spritePng.png';
$lang-redis: 235px 583px -235px -583px 99px 31px 743px 715px 'spritePng.png';
$nav_logo: 701px 445px -701px -445px 40px 38px 743px 715px 'spritePng.png';
$service_img-1: 583px 0px -583px 0px 160px 240px 743px 715px 'spritePng.png';
$service_img-2: 583px 250px -583px -250px 160px 185px 743px 715px 'spritePng.png';
