// ===================  Modules  ========================

@import 'modules/reset';
@import 'modules/variables';
@import 'modules/mixin_font-face';
@import 'modules/fontstylesheet';

// ==============  Responsive Font Size  ================

@import '../../node_modules/rfs/scss';

// ==================== PNG Sprite ======================

@import 'modules/mixin-spritePng';
@import 'temp/spritePng';
// @import 'temp/spriteSvg';

// ====================  Plugins  =======================

@import '../../node_modules/fullpage.js/dist/jquery.fullpage.min.css';

// ====================  Default  =======================

p {
  hyphens: auto;
}

button,
a,
input {
  outline: 0;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  transition: all .2s linear;
}

li {
  list-style-type: none;
}

body {
  font-family: $open-sans;
  line-height: 1.6;
  color: $text-color;

  @include rfs(16);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  width: calc(50% - 30px);
  height: 100%;
  margin: 0 15px;
}

.wrapper {
  position: relative;

  background: url('../img/wrapper-bg.jpg') top left/contain no-repeat;
}

.outer {
  width: 100%;
  height: 100%;
  background: url('../img/outer-bg-left.png') top left no-repeat, url('../img/outer-bg-right.png') center right no-repeat;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0 -15px;
}

// ============== Partials ================

@import 'partials/navbar';
@import 'partials/modal';
@import 'partials/fullpage-styles';
@import 'partials/media';
@import 'partials/about';
@import 'partials/service';
@import 'partials/portfolio';
@import 'partials/team';

// =======================================
