extends ../template

block variables
  - var title = 'Page Not Found'
  - var pageClass = '404-page'

block wrapper
  h1.error
    | Page Not Found!!!
  p.lead
    | Sorry, but the page you were trying to view does not exist.
