extends ../template

block variables
  - var title = 'Всё просто'
  - var pageClass = 'index'

block wrapper

  include ../partials/modal
  include ../partials/navbar

  #fullpage
    include ../partials/about
    include ../partials/service
    include ../partials/portfolio
    include ../partials/team
    include ../partials/reviews
    include ../partials/blog
    include ../partials/contacts
