<div class="filter container" id="filter">
  <div class="filter__blocks row">
    <div class="col3">
      <div class="assist">
        <h4 class="assist__title chtitle">Підбір допомоги</h4>
        <form class="assist__form chform" action="">
          <input class="assist__btn chbtn" type="reset" value="ПРИБРАТИ ПАРАМЕТРИ ПОШУКУ">
          <label class="assist__label chboxlable" for="assist-check1">
              <input class="assist__chbox chbox" id="assist-check1" type="checkbox" checked>
              <span class="assist__box box"></span>
              <span class="assist__boxlable boxlable">ФІНАНСОВА</span>
            </label>
          <label class="assist__label chboxlable" for="assist-check2">
              <input class="assist__chbox chbox" id="assist-check2" type="checkbox">
              <span class="assist__box box"></span>
              <span class="assist__boxlable boxlable">МАТЕРІАЛЬНА</span>
            </label>
          <label class="assist__label chboxlable" for="assist-check3">
              <input class="assist__chbox chbox" id="assist-check3" type="checkbox">
              <span class="assist__box box"></span>
              <span class="assist__boxlable boxlable">ПОСЛУГА</span>
            </label>
        </form>
      </div>
      <div class="categories">
        <form action="categories__form">
          <input class="categories__item categories__item--active" type="button" value="ПРИТУЛКИ ДЛЯ ТВАРИН">
          <input class="categories__item" type="button" value="ОСВІТА">
          <input class="categories__item" type="button" value="ІНВАЛІДИ">
          <input class="categories__item" type="button" value="ПЕРЕСЕЛЕНЦІ ЗОНИ АТО">
          <input class="categories__item" type="button" value="ВІЙСЬКОВІ">
          <input class="categories__item" type="button" value="ЛІТНІ ЛЮДИ">
          <input class="categories__item" type="button" value="ДІТИ">
        </form>
      </div>
      <div class="controls">
        <a href="#" class="controls__item">впорядкувати</a>
        <img class="controls__arrow" src="svg/right.svg" alt="right">
        <a href="#" class="controls__item">останні додані</a>
      </div>
      <div class="shelters">
        <h4 class="shelters__title chtitle">ПРИТУЛКИ</h4>
        <form class="shelters__form chform" action="">
          <input class="shelters__btn chbtn" type="button" value="ПОКАЗАТИ ВСІ ПОЗИЦІЇ">
          <label class="shelters__label chboxlable" for="shelters-check1">
              <input class="shelters__chbox chbox" id="shelters-check1" type="checkbox" checked>
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">АМЕДА</span>
            </label>
          <label class="shelters__label chboxlable" for="shelters-check2">
              <input class="shelters__chbox chbox" id="shelters-check2" type="checkbox" checked>
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">СІРІУС</span>
            </label>
          <label class="shelters__label chboxlable" for="shelters-check3">
              <input class="shelters__chbox chbox" id="shelters-check3" type="checkbox" checked>
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">МИЛОСЕРДЯ</span>
            </label>
          <label class="shelters__label chboxlable" for="shelters-check4">
              <input class="shelters__chbox chbox" id="shelters-check4" type="checkbox" checked>
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">ГРОМАДСЬКА ІНІЦІАТИВА</span>
            </label>
          <label class="shelters__label chboxlable" for="shelters-check5">
              <input class="shelters__chbox chbox" id="shelters-check5" type="checkbox" checked>
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">ХВОСТИ І ЛАПИ</span>
            </label>
          <label class="shelters__label chboxlable" for="shelters-check6">
              <input class="shelters__chbox chbox" id="shelters-check6" type="checkbox">
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">ПАН КОЦЬКИЙ</span>
            </label>
          <label class="shelters__label chboxlable" for="shelters-check7">
              <input class="shelters__chbox chbox" id="shelters-check7" type="checkbox">
              <span class="shelters__box box"></span>
              <span class="shelters__boxlable boxlable">ЗВІРИНЕЦЬ</span>
            </label>
        </form>
      </div>
    </div>
    <div class="category col9">
      <h4 class="category__title">ПРИТУЛКИ ДЛЯ ТВАРИН</h4>
      <ul class="category__list col9">
        <li class="category__item col3">
          <div class="category__mask"></div>
          <figure class="category__picture">
            <img class="category__img" src="img/shelter1.jpg" alt="">
            <svg class="category__close" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                <path fill="none" stroke="#000" stroke-width="0.8727" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M60.8 5.236l-2.036-2.036-26.764 25.309-25.018-26.473-2.327 1.745 25.309 26.764-26.764 25.309 2.036 2.036 26.764-25.309 25.018 26.473 2.327-1.745-25.309-26.764z"></path>
              </svg>
            <a class="category__info" href="#">info</a>
            <svg class="category__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
                <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
              </svg>
            <figcaption class="category__description">Збираємо кошти на харчування тварин Притулок Сіріус</figcaption>
          </figure>
          <p class="category__sum">сума необмежена</p>
          <a href="#" class="category__help">ДОПОМОГТИ</a>
        </li>
        <li class="category__item col3">
          <div class="category__mask"></div>
          <figure class="category__picture">
            <img class="category__img" src="img/shelter2.jpg" alt="">
            <svg class="category__close" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                <path fill="none" stroke="#000" stroke-width="0.8727" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M60.8 5.236l-2.036-2.036-26.764 25.309-25.018-26.473-2.327 1.745 25.309 26.764-26.764 25.309 2.036 2.036 26.764-25.309 25.018 26.473 2.327-1.745-25.309-26.764z"></path>
              </svg>
            <a class="category__info" href="#">info</a>
            <svg class="category__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
                <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
              </svg>
            <figcaption class="category__description">Необхідно провести вакцинацію собак Притулок Сіріус</figcaption>
          </figure>
          <p class="category__sum">сума необмежена</p>
          <a href="#" class="category__help">ДОПОМОГТИ</a>
        </li>
        <li class="category__item col3">
          <div class="category__mask"></div>
          <figure class="category__picture">
            <img class="category__img" src="img/shelter3.jpg" alt="">
            <svg class="category__close" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                <path fill="none" stroke="#000" stroke-width="0.8727" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M60.8 5.236l-2.036-2.036-26.764 25.309-25.018-26.473-2.327 1.745 25.309 26.764-26.764 25.309 2.036 2.036 26.764-25.309 25.018 26.473 2.327-1.745-25.309-26.764z"></path>
              </svg>
            <a class="category__info" href="#">info</a>
            <svg class="category__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
                <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
              </svg>
            <figcaption class="category__description">Потрібні кошти на лікування Шаріка Притулок Амеда</figcaption>
          </figure>
          <p class="category__sum">сума необмежена</p>
          <a href="#" class="category__help">ДОПОМОГТИ</a>
        </li>
        <li class="category__item col3">
          <div class="category__mask"></div>
          <figure class="category__picture">
            <img class="category__img" src="img/shelter4.jpg" alt="">
            <svg class="category__close" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                <path fill="none" stroke="#000" stroke-width="0.8727" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M60.8 5.236l-2.036-2.036-26.764 25.309-25.018-26.473-2.327 1.745 25.309 26.764-26.764 25.309 2.036 2.036 26.764-25.309 25.018 26.473 2.327-1.745-25.309-26.764z"></path>
              </svg>
            <a class="category__info" href="#">info</a>
            <svg class="category__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
                <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
              </svg>
            <figcaption class="category__description">Допоможіть Мурчику на потез задньої лапи Притулок Милосердя</figcaption>
          </figure>
          <p class="category__sum">сума необмежена</p>
          <a href="#" class="category__help">ДОПОМОГТИ</a>
        </li>
        <li class="category__item col3">
          <div class="category__mask"></div>
          <figure class="category__picture">
            <img class="category__img" src="img/shelter5.jpg" alt="">
            <svg class="category__close" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                <path fill="none" stroke="#000" stroke-width="0.8727" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M60.8 5.236l-2.036-2.036-26.764 25.309-25.018-26.473-2.327 1.745 25.309 26.764-26.764 25.309 2.036 2.036 26.764-25.309 25.018 26.473 2.327-1.745-25.309-26.764z"></path>
              </svg>
            <a class="category__info" href="#">info</a>
            <svg class="category__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
                <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
              </svg>
            <figcaption class="category__description">Збираємо кошти для благоустрою м. Київ Грамадська ініціатива</figcaption>
          </figure>
          <p class="category__sum">сума необмежена</p>
          <a href="#" class="category__help">ДОПОМОГТИ</a>
        </li>
        <li class="category__item col3">
          <div class="category__mask"></div>
          <figure class="category__picture">
            <img class="category__img" src="img/shelter6.jpg" alt="">
            <svg class="category__close" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
                <path fill="none" stroke="#000" stroke-width="0.8727" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M60.8 5.236l-2.036-2.036-26.764 25.309-25.018-26.473-2.327 1.745 25.309 26.764-26.764 25.309 2.036 2.036 26.764-25.309 25.018 26.473 2.327-1.745-25.309-26.764z"></path>
              </svg>
            <a class="category__info" href="#">info</a>
            <svg class="category__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
                <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
              </svg>
            <figcaption class="category__description">Збираємо на харчування собак Притулок Хвости і лапи</figcaption>
          </figure>
          <p class="category__sum">сума необмежена</p>
          <a href="#" class="category__help">ДОПОМОГТИ</a>
        </li>
        <li class="category__item col3">
          <div class="category__loader">
            <svg class="category__more" xmlns="http://www.w3.org/2000/svg" width="39" height="64" viewBox="0 0 39 64">
                <path fill="#000" d="M10.927 48.39l8.585 15.61 8.585-15.61z"></path>
                <path fill="none" stroke="#000" stroke-width="2.8098" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M37.463 19.512c0 9.914-8.037 17.951-17.951 17.951s-17.951-8.037-17.951-17.951c0-9.914 8.037-17.951 17.951-17.951s17.951 8.037 17.951 17.951z"></path>
                <path fill="#fff" d="M17.171 29.659h4.683v15.61h-4.683v-15.61z"></path>
              </svg>
            <p class="category__loader-title">ПОКАЗАТИ БІЛЬШЕ ПОЗИЦІЙ</p>
          </div>
          <ul class="category__dots">
            <li class="category__point"></li>
            <li class="category__point category__point--active"></li>
            <li class="category__point"></li>
            <li class="category__point"></li>
            <li class="category__point"></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
