<footer class="footer container">
  <div class="footer__background"></div>
  <div class="fblocks row">
    <div class="ffeedback col4">
      <h4 class="ffeedback__title">З ПИТАНЬ РОЗМІЩЕННЯ ПРОЕКТІВ ЗАПОВНІТЬ ФОРМУ</h4>
      <form action="index.html" method="post" class="ffeedback__form">
        <input class="ffeedback__send" type="submit" value="Відправити">
        <input class="ffeedback__name" type="text" placeholder="Ім'я" required>
        <input class="ffeedback__surname" type="text" placeholder="Прізвище" required>
        <input class="ffeedback__mail" type="text" placeholder="E-mail" required>
        <textarea class="ffeedback__message" placeholder="Текст" required></textarea>
      </form>
      <span class="ffeedback__description">Всі поля заповняти обов’язково</span>
    </div>
    <div class="fcontacts col4">
      <h4 class="fcontacts__phone">ТЕЛЕФОН <br>063 456 78 90</h4>
      <p class="fcontacts__mail">E-mail <br>info@porjad.gmail.com</p>
      <div class="fcontacts__subscribe">
        <span class="fcontacts__title">Підпишіться і отримуйте новини про нові проекти та активність <br>у вашому кабінеті</span>
        <form action="index.html" class="fcontacts__form">
          <input class="fcontacts__input" type="text" name="" value="" placeholder="E-mail" required>
          <input class="fcontacts__btn" type="submit" name="" value="підписатися">
        </form>
      </div>
    </div>
    <div class="fsocials col4">
      <h4 class="fsocials__title">ПРИЄДНУЙТЕСЬ ДО НАС У СОЦІАЛЬНИХ МЕРЕЖАХ</h4>
      <ul class="fsocials__list">
        <li class="fsocials__item">
          <a href="https://www.facebook.com" class="fsocials__link">
              <img class="fsocials__icon" src="svg/facebook-with-circle.svg" alt="facebook">
              <span class="fsocials__description">facebook</span>
            </a>
        </li>
        <li class="fsocials__item">
          <a href="https://www.vk.com" class="fsocials__link">
              <img class="fsocials__icon" src="svg/vk-with-circle.svg" alt="vk">
              <span class="fsocials__description">vkontakte</span>
            </a>
        </li>
        <li class="fsocials__item">
          <a href="https://www.plus.google.com" class="fsocials__link">
              <img class="fsocials__icon" src="svg/google-with-circle.svg" alt="google+">
              <span class="fsocials__description">google+</span>
            </a>
        </li>
        <li class="fsocials__item">
          <a href="https://www.instagram.com" class="fsocials__link">
              <img class="fsocials__icon" src="svg/instagram-with-circle.svg" alt="instagram">
              <span class="fsocials__description">instagram</span>
            </a>
        </li>
      </ul>
      <img class="flogo" src="img/logo.png" alt="logo" class="logo">
      <span class="fcopyrights">© 2017 Соціальні проекти ‘ПОРЯД’. Всі права захищено</span>
    </div>
  </div>
</footer>
