<header class="header container">
  <div class="htop row">
    <div class="col5">
      <a href="#" class="hlogo">
          <img class="hlogo__img" src="img/logo.png" alt="hlogo">
        </a>
      <form class="hsearch" action="#" method="post">
        <input class="hsearch__field" type="text" placeholder="назва проекта">
      </form>
    </div>
    <div class="col5">
      <input type="checkbox" id="hmt" class="hidden-menu-ticker">
      <label class="btn-menu" for="hmt">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
      </label>
      <ul class="hmenu">
        <li class="hmenu__item"><a href="#" class="hmenu__link">волонтерство</a></li>
        <li class="hmenu__item"><a href="#filter" class="hmenu__link">підбір проекта</a></li>
        <li class="hmenu__item"><a href="#status" class="hmenu__link">стан проектів</a></li>
        <li class="hmenu__item"><a href="#news" class="hmenu__link">новини</a></li>
      </ul>
    </div>
    <div class="hlikes col1">
      <svg class="hlikes__heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 23">
          <path class=" hlikes__heart-path" d="M26,8c0-4.4-3.6-8-8-8c-1.9,0-3.6,0.7-5,1.8C11.6,0.7,9.9,0,8,0C3.6,0,0,3.6,0,8c0,3,1.7,5.7,4.2,7l9,7.9
            l9-8.1C24.5,13.4,26,10.9,26,8z"/>
        </svg>
      <span class="hlikes__counter">2</span>
    </div>
    <div class="hcontrol col1">
      <a class="lang" href="#">
          <svg class="lang__img" xmlns="http://www.w3.org/2000/svg" width="53" height="64" viewBox="0 0 53 64">
            <title>triangle</title>
            <path class="lang__img-path" d="M0 29.333l53.333 29.333v-58.667z"></path>
          </svg>
          <span class="lang__lable">ук</span>
        </a>
      <a class="login" href="#">
          <svg class="login__img" xmlns="http://www.w3.org/2000/svg" width="77" height="64" viewBox="0 0 77 64">
            <title>login</title>
            <path class="login__img-pathCircle" fill="none" stroke="#000" stroke-width="4.6080" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M74.24 32c0 16.259-13.181 29.44-29.44 29.44s-29.44-13.181-29.44-29.44c0-16.259 13.181-29.44 29.44-29.44s29.44 13.181 29.44 29.44z"></path>
            <path class="login__img-pathArrow" d="M58.88 32l-25.6-14.080v10.24h-33.28v7.68h33.28v10.24z"></path>
          </svg>
          <span class="login__lable">увійти</span>
        </a>
      </div>
  </div>
  <div class="hslider row">
    <span class="hslider__title col4">
      НАЙБІЛЬША В УКРАЇНІ БІРЖА ДОБРА
      <span class="hslider__title hslider__title--desc">допомагати просто</span>
    </span>

    <input class="hslider__input" type="radio" name="hslider" id="hslide1" checked="">
    <input class="hslider__input" type="radio" name="hslider" id="hslide2">
    <input class="hslider__input" type="radio" name="hslider" id="hslide3">
    <input class="hslider__input" type="radio" name="hslider" id="hslide4">

    <div class="hslider__overflow">
      <div class="hslider__inner">
        <div class="hslider__item">
          <div class="hslider__slide hslider__slide--yellow">
            <div class="hslider__object">
              <img src="svg/dog.svg" alt="" class="hslider__dog">
              <img src="svg/dog-shadow.svg" alt="" class="hslider__shadow hslider__shadow--dog">
            </div>
            <span class="hslider__words hslider__words--dog">...що, що? кажеш друг тобі потрібен? так я ж <img src="img/poryad.png" alt="" class="hslider__poryad hslider__poryad--dog"></span>
          </div>
        </div>
        <div class="hslider__item">
          <div class="hslider__slide hslider__slide--blue">
            <img src="svg/birds.svg" alt="" class="hslider__birds">
            <div class="hslider__object">
              <img src="svg/oldman.svg" alt="" class="hslider__oldman">
              <img src="svg/oldman-shadow.svg" alt="" class="hslider__shadow hslider__shadow--oldman">
            </div>
            <span class="hslider__words hslider__words--oldman">раніше було краще? все було дешево? ні, не чув,<br> бо в мене все добре! <br> <img src="img/poryad.png" alt="" class="hslider__poryad hslider__poryad--oldman"> <span class="hslider__words hslider__words--mod">підтримка</span></span>
          </div>
        </div>
        <div class="hslider__item">
          <div class="hslider__slide hslider__slide--yellow">
            <div class="hslider__object">
              <img src="svg/dog.svg" alt="" class="hslider__dog">
              <img src="svg/dog-shadow.svg" alt="" class="hslider__shadow hslider__shadow--dog">
            </div>
            <span class="hslider__words hslider__words--dog">...що, що? кажеш друг тобі потрібен? так я ж <img src="img/poryad.png" alt="" class="hslider__poryad hslider__poryad--dog"></span>
          </div>
        </div>
        <div class="hslider__item">
          <div class="hslider__slide hslider__slide--blue">
            <img src="svg/birds.svg" alt="" class="hslider__birds">
            <div class="hslider__object">
              <img src="svg/oldman.svg" alt="" class="hslider__oldman">
              <img src="svg/oldman-shadow.svg" alt="" class="hslider__shadow hslider__shadow--oldman">
            </div>
            <span class="hslider__words hslider__words--oldman">раніше було краще? все було дешево? ні, не чув,<br> бо в мене все добре! <br> <img src="img/poryad.png" alt="" class="hslider__poryad hslider__poryad--oldman"> <span class="hslider__words hslider__words--mod">підтримка</span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="hslider__commands">
      <label class="hslider__label" for='hslide1'></label>
      <label class="hslider__label" for='hslide2'></label>
      <label class="hslider__label" for='hslide3'></label>
      <label class="hslider__label" for='hslide4'></label>
    </div>

    <a class="hslider__movedown" href="#filter">
      <span class="hslider__downtext">ПРИТУЛКИ ДЛЯ ТВАРИН</span>
      <svg class="hslider__downarrow" xmlns="http://www.w3.org/2000/svg" width="119" height="64" viewBox="0 0 119 64">
        <title>down</title>
        <path fill="none" stroke="#000" stroke-width="0.9143" stroke-miterlimit="100" stroke-linecap="round" stroke-linejoin="round" d="M7.314 1.829l-2.438 2.438 54.857 54.857 2.133-2.133-54.552-55.162zM116.419 3.352l-55.162 55.162 2.133 2.133 55.162-55.162-2.133-2.133z"></path>
      </svg>
    </a>
  </div>
</header>
