<div class="news container" id="news">
  <h4 class="news__title row">ВАС МОЖУТЬ ЗАЦІКАВИТИ</h4>
  <div class="news__deals row">
    <div class="news__item col2">
      <a class="news__link" href="#">
          <span class="news__img"></span>
          <span class="news__description">Волонтерство вихідного дня</span>
        </a>
    </div>
    <div class="news__item col2">
      <a class="news__link" href="#">
          <span class="news__img"></span>
          <span class="news__description">Чапік шукає даму серця</span>
        </a>
    </div>
    <div class="news__item col2">
      <a class="news__link" href="#">
          <span class="news__img"></span>
          <span class="news__description">Нам потрібен старий посуд та підстилки</span>
        </a>
    </div>
    <div class="news__item col2">
      <a class="news__link" href="#">
          <span class="news__img"></span>
          <span class="news__description">Я Інжир і мені потрібен дім на тиждень</span>
        </a>
    </div>
    <div class="news__item col2">
      <a class="news__link" href="#">
          <span class="news__img"></span>
          <span class="news__description">Ми вже два місяці як готові дарувати Вам щастя</span>
        </a>
    </div>
    <div class="news__item col2">
      <a class="news__link" href="#">
          <span class="news__img"></span>
          <span class="news__description">Шукаємо сторожа в притулок</span>
        </a>
    </div>
  </div>
</div>
