<div class="status container" id="status">
  <div class="sblocks row">
    <div class="sslider col5" id="slider">

      <div class="sslider__wrapper">

        <input class="sslider__input" checked type='radio' name='slider' id='slide1' />
        <input class="sslider__input" type='radio' name='slider' id='slide2' />
        <input class="sslider__input" type='radio' name='slider' id='slide3' />
        <input class="sslider__input" type='radio' name='slider' id='slide4' />
        <input class="sslider__input" type='radio' name='slider' id='slide5' />

        <div class="sslider__slides">
          <div class="sslider__box">
            <div class="sslider__inner">
              <article class="sslider__item">
                <img class="sslider__picture" src="img/sslide1.jpg" alt="slide">
              </article>
              <article class="sslider__item">
                <img class="sslider__picture" src="img/sslide1.jpg" alt="slide">
              </article>
              <article class="sslider__item">
                <img class="sslider__picture" src="img/sslide1.jpg" alt="slide">
              </article>
              <article class="sslider__item">
                <img class="sslider__picture" src="img/sslide1.jpg" alt="slide">
              </article>
              <article class="sslider__item">
                <img class="sslider__picture" src="img/sslide1.jpg" alt="slide">
              </article>
            </div>
          </div>
          <svg class="sslider__like" xmlns="http://www.w3.org/2000/svg" width="72" height="64" viewBox="0 0 72 64">
            <path d="M72.348 22.261c0-12.243-10.017-22.261-22.261-22.261-5.287 0-10.017 1.948-13.913 5.009-3.896-3.061-8.626-5.009-13.913-5.009-12.243 0-22.261 10.017-22.261 22.261 0 8.348 4.73 15.861 11.687 19.478l25.044 21.983 25.044-22.539c6.4-3.896 10.574-10.852 10.574-18.922z"></path>
          </svg>
          <img src="img/slogo.jpg" alt="slogo" class="sslider__logo">
        </div>

        <div class="sslider__commands">
          <label class="sslider__label" for='slide1'></label>
          <label class="sslider__label" for='slide2'></label>
          <label class="sslider__label" for='slide3'></label>
          <label class="sslider__label" for='slide4'></label>
          <label class="sslider__label" for='slide5'></label>
        </div>

      </div>

      <span class="sslider__sum">сума необмежена</span>
      <a href="#" class="sslider__help">ДОПОМОГТИ</a>
    </div>

    <div class="sdetails col4">
      <h4 class="sdetails__title">ЗБИРАЄМО КОШТИ НА ХАРЧУВАННЯ ТВАРИН #ДАЙ5! Притулок Сіріус</h4>
      <span class="sdetails__description">Що можна купити на 5 гривень? Більше, ніж ти думаєш – цілий день ситого життя для одного безпритульного собаки! <br>Ми знову запускаємо естафету #ДАЙ5 і закликаємо всіх підтримати понад дві тисячі вихованців найбільшого в Україні притулку для тварин "Сіріус"</span>
      <span class="sdetails__description">Поліпшити умови очікування справжнього дому просто: перераховуй 5 або більше гривень на картку притулку Приватбанк <br><a class="sdetails__link" href="#">5169 3305 1043 1114</a> <br>Мезінова О. В. (директора притулку) <br>або через сайт <br><a class="sdetails__link" href="#">http://sheltersirius.org</a> і передай естафету друзям.</span>
      <span class="sdetails__description">Також можна налаштувати регулярний платіж і годувати хвостів на постійній <br>основі. Як це зробити, дивись тут: <br><a class="sdetails__link" href="goo.gl/cYzT3Y"> goo.gl/cYzT3Y</a></span>
    </div>

    <div class="scontacts col3">
      <h4 class="scontacts__title">КОНТАКТИ Притулок Сіріус</h4>
      <span class="scontacts__phone">тел: 067 123 45 67</span>
      <ul class="scontacts__socials">
        <li class="scontacts__item">
          <a href="https://www.facebook.com" class="scontacts__link">
            <img src="svg/facebook-with-circle.svg" alt="facebook" class="scontacts__icon">
          </a>
        </li>
        <li class="scontacts__item">
          <a href="https://www.vk.com" class="scontacts__link">
            <img src="svg/vk-with-circle.svg" alt="vk" class="scontacts__icon">
          </a>
        </li>
      </ul>
      <a href="www.dogcat.com.ua" class="scontacts__site">www.dogcat.com.ua</a>
      <a href="#" class="scontacts__mailto">НАПИСАТИ НАМ</a>
      <span class="scontacts__adress">Україна, Київська область, село Федорівка</span>
      <div class="scontacts__map"></div>
      <a href="#" class="scontacts__other">ПЕРЕГЛЯНУТИ ІНШІ ПРОЕКТИ ОРГАНІЗАЦІЇ</a>
    </div>

  </div>
</div>
