//---------------------- DEVICES @media ------------------------//

$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1020px)";
$desktop: "(min-width: 1020px) and (max-width: 1390px)";

//---------------------- FONTS ------------------------//

$roboto: 'Roboto Black', Arial, Tahoma, sans-serif;
$minion: 'Minion Pro', Arial, Tahoma, sans-serif;
$georgia: 'Georgia', Arial, Tahoma, sans-serif;

//---------------------- COLORS ------------------------//

$black: #000000;
$white: #ffffff;
$blue: #4267b2;
$green: #6a9c00;
$red: #c20000;
$yellow: #eab96a;
$darkgrey1: #101010;
$darkgrey2: #222222;
$darkgrey3: #222121;
$darkgrey4: #2b2b2b;
$darkgrey5: #3d3d3e;
$darkgrey6: #4d4d4d;
$lightgrey1: #5c5f65;
$lightgrey2: #939393;
$lightgrey3: #adadad;
$lightgrey4: #c6c6c6;
$lightgrey5: #dddddd;
$lightgrey6: #485260;
