footer.footer
  .footer__top
    .footer__nav
      a.footer__logo(href="#")
      nav.footer__menu.footer-menu
        ul.footer-menu__list
          li.footer-menu__item
            a.footer-menu__link(href="#") Home
          li.footer-menu__item
            a.footer-menu__link(href="#") About
          li.footer-menu__item
            a.footer-menu__link(href="#") Services
          li.footer-menu__item
            a.footer-menu__link(href="#") Investments
          li.footer-menu__item.footer-menu__item--active
            a.footer-menu__link(href="#") Blog
          li.footer-menu__item
            a.footer-menu__link(href="#") Contact
    .footer__address.address
      a(href="https://goo.gl/maps/ynouRQGogX42").address__first
        span.address__text 267 Banbury Road  Summertown  Oxford.
      a(href="https://goo.gl/maps/UK4PuRZbvcU2").address__second
        span.address__text 42 Upper Berkeley Street  London.
      a(href="tel:+44777888989" title="call").address__phone
        span.address__text +44 777888 989
      a(href="mailto:hello@massimpressions.com" title="mail to").address__email
        span.address__text hello@massimpressions.com
  .footer__bottom
    span.footer__copyrights © 2017 Mass Impressions & Tranmautritam. Make the right impression | | Privacy Policy
    ul.footer__socials-list.socials-list
      li.socials-list__item
        a.socials-list__link(href="#")
          span.icon-facebook
      li.socials-list__item
        a.socials-list__link(href="#")
          span.icon-twitter
      li.socials-list__item
        a.socials-list__link(href="#")
          span.icon-google-plus
      li.socials-list__item
        a.socials-list__link(href="#")
          span.icon-instagram
      li.socials-list__item
        a.socials-list__link(href="#")
          span.icon-linkedin
