header.header
  nav.header__menu.header-menu
    a(href="#").header-menu__logo
    input.header-menu__checkbox(type="checkbox" id="checkbox")
    label.header-menu__btn(for="checkbox")
      span.header-menu__icon
    .header-menu__container
      ul.header-menu__list
        li.header-menu__item
          a.header-menu__link(href="#") Home
        li.header-menu__item
          a.header-menu__link(href="#") About
        li.header-menu__item
          a.header-menu__link(href="#") Services
        li.header-menu__item
          a.header-menu__link(href="#") Investments
        li.header-menu__item.header-menu__item--active
          a.header-menu__link(href="#") Blog
        li.header-menu__item
          a.header-menu__link(href="#") Contact
