.about {
  .inner {
    padding-top: 0;
  }

  &__title {
    color: #242424;
    font-weight: 600;
    font-family: $fira-sans;
    line-height: 71px;

    @include rfs(60);

    &--blue {
      color: $active-color;
    }
  }

  &__text {
    max-width: 435px;
    color: #777;
    padding: 65px 0 125px 0;
    text-align: justify;
    font-weight: 400;
    font-family: $lato;
    line-height: 26px;

    @include rfs(14);
  }

  &__circle {
    transform-origin: 50% 50% 0;
    animation: rotate 100s infinite linear;

    @include spritePng($about_circle);

    &-outer {
      position: relative;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include spritePng($about_logo);
  }
}

.tech {
  &__item {
    position: absolute;
    top: 275px;
    left: 235px;
    display: block;
    opacity: 0.5;
    filter: grayscale(1);
    cursor: pointer;
    transform: rotate(45deg) translateY(-310px) rotate(-45deg);
    animation: python 95s linear infinite;

    @include spritePng($lang-python);

    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }

    &:nth-child(2) {
      top: 258px;
      left: 232px;
      transform: rotate(45deg) translateX(210px) rotate(-45deg);
      animation: php 105s linear infinite;

      @include spritePng($lang-php);
    }

    &:nth-child(3) {
      top: 260px;
      left: 240px;
      transform: rotate(45deg) translateY(210px) rotate(-45deg);
      animation: java 105s linear infinite;

      @include spritePng($lang-java);
    }

    &:nth-child(4) {
      top: 270px;
      left: 270px;
      transform: rotate(45deg) translateY(-120px) rotate(-45deg);
      animation: redis 75s linear infinite;

      @include spritePng($lang-redis);
    }

    &:nth-child(5) {
      top: 270px;
      left: 240px;
      transform: rotate(45deg) translateY(-210px) rotate(-45deg);
      animation: devops 105s linear infinite;

      @include spritePng($lang-devops);
    }

    &:nth-child(6) {
      top: 265px;
      left: 265px;
      transform: rotate(45deg) translateY(285px) rotate(-45deg);
      animation: data 95s linear infinite;

      @include spritePng($lang-data);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes php {
  from {
    transform: rotate(0deg) translateX(210px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(210px) rotate(-360deg);
  }
}

@keyframes redis {
  from {
    transform: rotate(0deg) translateY(-120px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateY(-120px) rotate(-360deg);
  }
}

@keyframes devops {
  from {
    transform: rotate(0deg) translateY(210px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateY(210px) rotate(-360deg);
  }
}

@keyframes data {
  from {
    transform: rotate(0deg) translateY(285px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateY(285px) rotate(-360deg);
  }
}

@keyframes java {
  from {
    transform: rotate(0deg) translateY(-210px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateY(-210px) rotate(-360deg);
  }
}

@keyframes python {
  from {
    transform: rotate(0deg) translateY(-285px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateY(-285px) rotate(-360deg);
  }
}
