.blog {
  .card {
    flex-direction: column;

    &:hover .card__more {
      background: $active-color;
      transform: translateX(5px);

      &::after {
        border-top: 1px solid $active-color;
        border-right: 1px solid $active-color;
      }
    }

    &__desc {
      padding: 25px 30px;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
    }

    &__date {
      color: #b3b3b3;
      font-family: $lato;

      @include rfs(11);
    }

    &__more {
      position: relative;
      display: block;
      width: 12px;
      height: 1px;
      background: #242424;

      &::after {
        position: absolute;
        top: calc(50% - 1px);
        right: -2px;
        width: 5px;
        height: 5px;
        border-top: 1px solid #242424;
        border-right: 1px solid #242424;
        content: '';
        transform: rotate(45deg) translate(-50%, 0);
      }
    }
  }
}
