.contacts {
  .inner {
    margin: 0;
  }

  &__address,
  &__phone,
  &__mail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    &--address {
      @include spritePng($placeholder);
    }

    &--phone {
      @include spritePng($phone);
    }

    &--mail {
      @include spritePng($mail);
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
    color: #242424;
    font-weight: 500;
    font-family: $fira-sans;
    line-height: 24px;

    @include rfs(16);
  }

  &__text {
    font-weight: 300;
  }

  &__number,
  &__address {
    color: #242424;

    &:hover {
      color: $active-color;
    }
  }
}

.map {
  width: 100%;
  height: 60vh;
}

#map {
  width: 100%;
  height: 100%;
}
