#fp-nav {
  &::after {
    position: absolute;
    top: -100%;
    left: 50%;
    display: block;
    width: 1px;
    height: 100vh;
    background: #ebebeb;
    content: '';
    transform: translateX(-50%);
  }
}

.fp-slidesNav {
  left: 50% !important;
  transform: translateX(-7%);
}

.fp-slidesNav.bottom {
  bottom: 4%;
}

#fp-nav ul li {
  margin: 28px 0;
}

#fp-nav.right {
  right: 50px;
}

#fp-nav ul li .fp-tooltip {
  margin-top: 4px;
  margin-right: 32px;
  color: $active-color;
  text-transform: capitalize;
  letter-spacing: .6px;
  font-weight: 400;
  font-family: $fira-sans;
  line-height: 1;

  @include rfs(10);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  background: #fff;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border: 1px solid $active-color;
}

#fp-nav ul li a span {
  display: block;

  &::after {
    position: absolute;
    top: 50%;
    left: -32px;
    z-index: 999999;
    display: block;
    width: 0;
    height: 1px;
    background: $active-color;
    content: '';
    transition: all .2s linear;
    transform: translateY(-50%);
  }
}

#fp-nav ul li {
  &:hover a span::after {
    width: 22px;
  }
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  border: 1px solid $active-color;
  background: $active-color;
}

#fp-nav ul li a.active,
#fp-nav ul li:hover a.active {

  &::before,
  &::after {
    position: absolute;
    display: block;
    border-radius: 50%;
    content: '';
  }

  &::before {
    top: -53%;
    left: -53%;
    width: 28px;
    height: 28px;
    border: 1px solid rgba($active-color, .5);
  }

  &::after {
    top: -155%;
    left: -140%;
    width: 54px;
    height: 54px;
    border: 1px solid rgba($active-color, .2);
    background: transparent;
  }
}

.fp-viewing-about {
  position: relative;
}

.fp-arrow {
  position: absolute;
  left: -115%;
  z-index: 9999;
  width: 46px;
  height: 46px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba($active-color, .2);
  }

  &:hover span {
    border: 1px solid rgba($active-color, .5);
  }

  &:hover {
    &::before {
      background: $active-color;
    }

    &::after {
      border-top: 1px solid $active-color;
      border-right: 1px solid $active-color;
    }
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
  }

  &::before {
    top: 50%;
    left: 50%;
    width: 1px;
    height: 10px;
    background: #b9b9b9;
    transform: translate(-50%, -50%);
  }

  &--up {
    top: -65%;

    &::after {
      top: calc(50% - 3px);
      left: 50%;
      width: 5px;
      height: 5px;
      border-top: 1px solid #b9b9b9;
      border-right: 1px solid #b9b9b9;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &--down {
    bottom: -85%;

    &::after {
      top: calc(50% + 3px);
      left: 50%;
      width: 5px;
      height: 5px;
      border-top: 1px solid #b9b9b9;
      border-right: 1px solid #b9b9b9;
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

.fp-arrow span {
  z-index: 999;
  display: block;
  margin: 0 auto;
  margin-top: 2px;
  width: 40px;
  height: 40px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  background: #fff;
}
