// ==================== media ====================

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }

  .inner {
    width: calc(100% - 30px - 40px);
  }

  .section {
    &__top {
      width: calc(100% - 30px - 95px);
    }
  }

  .menu {
    &__item {
      margin: 0 10px;
    }
  }

  .service {
    .column {
      margin: 15px 15px 0 15px;
      padding: 30px;
      width: calc(100% - 30px);
      height: calc(53% - 45px);
    }

    .inner {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 150px;
      height: 90vh;
    }

    &__desc {
      max-width: 500px;
    }

    &__subtitle {
      padding: 0 0 20px 0;
    }

    &__text {
      padding: 0 0 20px 0;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 0 0 8px 0;
    }
  }

  .map {
    width: calc(100% - 30px);
  }
}

@media (max-width: 840px) {
  .menu {
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    height: 0;
    background-color: rgba(255, 255, 255, .9);
    opacity: 1;

    &--active {
      height: 100%;
    }

    &__list {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: -64px;
    }

    &__item {
      margin: 0;
      padding: 15px;
    }

    &__link {
      font-size: 1.25rem;
    }
  }

  .burger {
    display: block;
  }

  .section {
    &__top {
      top: calc(65px + 15px);
      width: calc(100% - 30px);
    }
  }

  .fp-arrow {
    &--up {
      top: -55%;
    }

    &--down {
      bottom: -75%;
    }
  }

  .fp-slidesNav {
    transform: translateX(-20%);
  }

  // About

  .about {
    .inner {
      padding-top: 110px;
      flex-direction: column;
    }

    .column {
      align-items: center;
      width: calc(100% - 30px);
    }

    &__text {
      padding: 45px 0;
    }

    &__circle-outer {
      transform: scale(.7);
    }
  }

  // Service

  .service {
    .column {
      justify-content: center;
      margin: 15px 15px 0 15px;
      padding: 30px;
      width: calc(100% - 30px);
      height: calc(53% - 45px);
    }

    .inner {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 150px;
      height: 100vh;
    }

    &__desc {
      max-width: 500px;
    }

    &__subtitle {
      padding: 0 0 20px 0;
    }

    &__text {
      padding: 0 0 20px 0;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 0 0 8px 0;
    }
  }

  // Portfolio

  .portfolio {
    .inner {
      padding-top: 226px;
      height: 100%;
    }

    &__cards {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      height: 90%;
    }

    &__card {
      margin-bottom: 15px;
      width: calc(100% - 30px);
      height: calc(100%/3);
    }
  }

  // Team

  .team {

    .inner {
      flex-direction: column;
      padding-top: 136px;
      height: 100%;
    }

    &__left,
    &__right {
      margin-bottom: 15px;
      width: calc(100% - 30px);
      height: calc(90%/2 - 30px);
    }

    &__right {
      justify-content: center;

      .team__person {
        padding-bottom: 15px;
        height: 50%;
      }
    }

    &__hover {
      width: 85%;
      height: 92%;
    }

    &__socials {
      margin-top: 20px;
    }
  }

  // Reviews

  .reviews {
    .inner {
      flex-direction: column;
      padding-top: 136px;
      height: 100%;
    }

    .column {
      justify-content: center;
      margin: 15px 15px 0 15px;
      width: calc(100% - 30px);
      height: calc(48% - 45px);
    }
  }

  // Blog

  .blog {
    .inner {
      flex-direction: column;
      padding-top: 146px;
      height: 100%;
    }

    .card {
      flex-direction: row;
      margin-bottom: 15px;
      width: calc(100% - 30px);
      height: calc(100%/4);

      &__photo {
        width: 40%;
      }

      &__desc {
        padding: 15px;
      }

      &__text {
        padding-top: 8px;
      }

      &__bottom {
        padding-top: 5px;
      }
    }
  }

  // Contacts

  .contacts {
    .inner {
      flex-direction: column;
      padding-top: 196px;
      height: 100%;
    }

    .section {
      &__top {
        flex-wrap: wrap;
      }
    }
  }

  .map {
    width: 100%;
    height: calc(100% - 15px);
  }
}

@media (max-width: 780px) {}

@media (max-width: 575px) {}

@media (max-width: 480px) {}
