// ==================== media ====================

@media (max-width: 992px) {
  .menu {
    &__item {
      margin: 0 10px;
    }
  }
}

@media (max-width: 840px) {
  .menu {
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    height: 0;
    background-color: rgba(255, 255, 255, .9);
    opacity: 1;

    &--active {
      height: 100%;
    }

    &__list {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: -64px;
    }

    &__item {
      margin: 0;
      padding: 15px;
    }

    &__link {
      font-size: 1.25rem;
    }
  }

  .burger {
    display: block;
  }

  .section {
    &__top {
      top: calc(65px + 15px);
    }
  }

  .fp-arrow {
    &--up {
      top: -55%;
    }

    &--down {
      bottom: -75%;
    }
  }

  // Service

  .service {
    .column {
      justify-content: center;
      margin: 15px 15px 0 15px;
      padding: 30px;
      width: calc(100% - 30px - 100px);
      height: calc(53% - 45px);
    }

    .inner {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 120px;
      height: 100vh;
    }

    &__desc {
      max-width: 500px;
    }

    &__subtitle {
      padding: 0 0 20px 0;
    }

    &__text {
      padding: 0 0 20px 0;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 0 0 8px 0;
    }
  }

  // Portfolio


}

@media (max-width: 780px) {}

@media (max-width: 575px) {}

@media (max-width: 480px) {}
