// ============== Navbar ================

.navbar {
  position: fixed;
  z-index: 9999;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  background: transparent;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .03);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $text-color;

  &__image {
    @include spritePng($nav_logo);
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    font-weight: 700;
    font-family: $open-sans;

    @include rfs(18);

    & small {
      font-weight: 400;
      line-height: 15.76px;

      @include rfs(10);
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    margin: 0 20px;

    &:hover .menu__link {
      color: $active-color;
    }

    &::after,
    &::before {
      display: block;
      margin-left: -10%;
      width: 120%;
      height: 2px;
      background: $active-color;
      content: '';
      transform: scale(0);
    }

    &::before {
      margin-bottom: 2px;
    }

    &:hover {

      &::after,
      &::before {
        transform: scale(1);
      }
    }

    &--active .menu__link {
      color: $active-color;
    }

    &--active {

      &::after,
      &::before {
        transform: scale(1);
      }
    }
  }

  &__link {
    display: block;
    color: $text-color;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $fira-sans;

    @include rfs(14);
  }
}

.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 19px;
  cursor: pointer;

  &__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: $text-color;
    opacity: 1;
    transform: rotate(0deg);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }

  &--active .burger__line {
    background: $active-color;

    &:nth-child(1) {
      top: 8px;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      left: 60px;
      opacity: 0;
    }

    &:nth-child(3) {
      top: 8px;
      transform: rotate(-135deg);
    }
  }
}
