.service {
  .column {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 30px;
    border: 1px solid #e5e5e5;
    background: #fff;

    &::before {
      position: absolute;
      top: -1%;
      left: -1%;
      z-index: 99;
      display: block;
      width: 102%;
      height: 102%;
      content: '';
      transition: all .5s linear;
      border: 1px dotted transparent;
    }

    &:hover {
      border: 1px solid $active-color;

      &::before {
        border: 1px dotted $active-color;
      }
    }
  }

  &__desc {
    max-width: 350px;
    padding-left: 35px;
  }

  &__img {
    display: flex;
    min-width: 160px;

    &--ie {
      @include spritePng($service_img-1);
    }

    &--de {
      @include spritePng($service_img-2);
    }
  }

  &__subtitle {
    font-family: $fira-sans;
    font-weight: 500;
    line-height: 1;
    padding: 0 0 40px 0;
    color: #242424;

    @include rfs(24);
  }

  &__text {
    font-family: $lato;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 40px 0;
    color: #777;

    @include rfs(14);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;

    &::before {
      display: inline-block;
      width: 8px;
      height: 8px;
      content: '';
      border-radius: 50%;
      background-color: $active-color;
    }
  }

  &__link {
    font-family: $lato;
    font-weight: 700;
    line-height: 24px;
    padding: 0 0 0 15px;
    color: #242424;

    @include rfs(14);

    &:hover {
      text-decoration: underline;
      color: $active-color;
    }

    &:hover+.service__arrow {
      transform: translateX(3px);
    }

    &:hover+.service__arrow,
    &:hover+.service__arrow::before,
    &:hover+.service__arrow::after {
      background: $active-color;
    }
  }

  &__arrow {
    position: relative;
    width: 13px;
    height: 2px;
    margin: 0 0 0 13px;
    background: #242424;

    &::before,
    &::after {
      position: absolute;
      right: 0;
      display: block;
      width: 6px;
      height: 2px;
      content: '';
      background: #242424;
    }

    &::before {
      top: -2px;
      transform: rotate(45deg);
    }

    &::after {
      top: 2px;
      transform: rotate(-45deg);
    }
  }
}
