.team {
  &__details {
    font-family: $fira-sans;
    font-weight: 500;
    display: block;
    min-width: 112px;
    color: $text-color;

    @include rfs(14);

    &:hover {
      color: $active-color;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    margin: 0 15px;
    background: #fff;
  }

  &__left {
    width: calc(57% - 30px);
    border: 1px solid #ececeb;
  }

  &__right {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(43% - 30px);
  }

  &__photo {
    display: block;
  }

  &__text {
    padding: 46px;
  }

  &__name {
    font-family: $fira-sans;
    font-weight: 500;
    color: #242424;

    @include rfs(18);
  }

  &__position {
    font-family: $lato;
    font-weight: 600;
    display: block;
    margin: 12px 0 20px 0;
    text-transform: uppercase;
    color: $active-color;

    @include rfs(8);
  }

  &__desc {
    font-family: $lato;
    font-weight: 400;
    line-height: 24px;
    color: #777;

    @include rfs(14);
  }

  &__socials {
    display: block;
    margin-top: 40px;
    @include spritePng($instagram);
  }

  &__line {
    display: block;
    width: 65%;
    height: 1px;
    margin: 0 30px;
    background: #ececeb;
  }

  &__person {
    position: relative;
    background: #fff;

    &:hover {
      .team__hover {
        opacity: 1;
      }
    }
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fff 0%, rgba(#fff, .1) 100%);
    opacity: 0;
  }
}
