.team {
  .container {
    justify-content: flex-start;
  }

  &__title {
    font-family: $fira-sans;
    font-weight: 700;

    display: block;

    width: 100%;
    padding: 85px 0 55px 0;

    color: #242424;

    @include rfs(46);
  }
}
