.tooltip_templates {
  display: none;
}

.tooltipster-base.tooltipster-follower.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
  border: 3px solid transparent;
  border-radius: 5px;
  background: rgba(#fff, .85);
}

.tooltipster-base.tooltipster-follower.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  padding: 8px;
  color: $text-color;
  font-weight: 300;
  font-family: $lato;

  @include rfs(12);
}

.tooltip_title {
  padding-bottom: 10px;
  font-weight: 700;
  font-family: $lato;

  @include rfs(14);
}
