.tooltip_templates {
  display: none;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
  background: rgba(#fff, 0.85);
  border: 3px solid transparent;
  border-radius: 5px;
  max-width: 220px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  color: $text-color;
  padding: 8px;
  font-family: $lato;
  @include rfs(12);
  font-weight: 300;
}

.tooltip_title {
  font-family: $lato;
  @include rfs(14);
  font-weight: 700;
  padding-bottom: 10px;
}
