extends template/main

block variables
  - var title = "Fleet We use"
  - var description = "Well maintained, clean and non-smoking premium cars with drivers"
  - var pageClass = "fleet-page"

block content

  include ./modules/header

  .content

    include ./modules/use
    include ./modules/fleet-items

    .container
      .row.justify-content-center
        .col-xl-5
          include ./modules/form

  include ./modules/footer
