$brush: 0px 0px 0px 0px 287px 92px 287px 259px 'spritePng.png';
$destination: 0px 206px 0px -206px 40px 53px 287px 259px 'spritePng.png';
$hotels: 144px 143px -144px -143px 60px 47px 287px 259px 'spritePng.png';
$logo: 0px 102px 0px -102px 133px 31px 287px 259px 'spritePng.png';
$tours: 0px 143px 0px -143px 68px 53px 287px 259px 'spritePng.png';
$travellers: 78px 143px -78px -143px 56px 53px 287px 259px 'spritePng.png';
$wave_1: 183px 102px -183px -102px 48px 6px 287px 259px 'spritePng.png';
$wave_2: 183px 118px -183px -118px 48px 6px 287px 259px 'spritePng.png';
$qoutes: 143px 102px -143px -102px 30px 27px 287px 259px 'spritePng.png';
