.swiper-banner {
  padding-top: 80px;
  height: calc(100vh);
}

.swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &--slide1 {
    background: $gradient-sea-05, url('../img/slides/slide_1.jpg') center/cover no-repeat;
  }

  &--slide2 {
    background: $gradient-sea-05, url('../img/slides/slide_2.jpg') center/cover no-repeat;
  }

  &--slide3 {
    background: $gradient-sea-05, url('../img/slides/slide_3.jpg') center/cover no-repeat;
  }

  &--slide4 {
    background: $gradient-sea-05, url('../img/slides/slide_4.jpg') center/cover no-repeat;
  }

  &--slide5 {
    background: $gradient-sea-05, url('../img/slides/slide_5.jpg') center/cover no-repeat;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  background: $white;
  outline: none;
}

.swiper-button-prev {
  left: 5%;

  &:hover {
    .icon--arrow-left {
      transform: translateX(-3px);

    }
  }
}

.swiper-button-next {
  right: 5%;

  &:hover {
    .icon--arrow-right {
      transform: translateX(3px);
    }
  }
}

.icon {

  &--arrow-left,
  &--arrow-right {
    width: 14px;
    height: 12px;

    use {
      fill: $arrow;
    }
  }

  &--mouse {
    width: 21px;
    height: 32px;
    transition: all .2s linear;
    animation-duration: 3s;
    animation-name: mouse;
    animation-iteration-count: infinite;

    use {
      fill: $white;
    }

    &:hover {

      use {
        fill: $yellow;
      }
    }
  }
}


.banner {
  position: relative;
  color: $white;
  text-align: center;

  &__price {
    display: block;
    margin: 0 auto;
    color: $blue;
    font-weight: 600;
    font-family: $raleway;
    line-height: 92px;

    @include rfs(21);
    @include spritePng($brush);
  }

  &__title {
    padding: 75px 0 30px 0;
    font-weight: 400;
    font-family: Arial;

    @include rfs(78);
  }

  &__desc {
    font-weight: 500;
    font-family: $raleway;
    line-height: 37px;

    @include rfs(18);
  }

  &__mouse {
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    z-index: 999;
    width: 21px;
    height: 32px;
    cursor: pointer;
  }
}

@keyframes mouse {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}
