.counters {
  padding: 100px 0 65px 0;
  box-shadow: 0 1px 5px 0 rgba(101, 101, 101, .2);
}

.counter {
  color: $black;
  text-align: center;

  &__icon {
    @include spritePng($travellers);
  }

  &__number {
    padding-top: 23px;
    font-weight: 700;
    font-family: $lato;

    @include rfs(32);
  }

  &__title {
    font-weight: 600;

    @include rfs(16);
  }

  &:nth-child(2) .counter__icon {
    @include spritePng($tours);
  }

  &:nth-child(3) .counter__icon {
    @include spritePng($destination);
  }

  &:nth-child(4) .counter__icon {
    @include spritePng($hotels);
  }
}
