.discount {
  background: $gradient-sea-05, url('../img/discount_bg.jpg') center/cover no-repeat;
  color: $white;
  text-align: center;
  line-height: 1;

  &__title {
    padding: 75px 0 20px 0;
    font-weight: 700;

    @include rfs(34);
  }

  &__subtitle {
    display: block;
    padding-bottom: 60px;

    @include rfs(18);
  }

  &__form {
    padding-bottom: 80px;
  }

  &__input {
    padding: 13px 28px;
    width: 395px;
    border: 2px solid $white;
    border-radius: 25px;
    background: transparent;
    color: $seablue;
    transition: all .2s linear;

    &:focus {
      outline: none;
      background: $white;
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &::placeholder {
      color: $white;
      transition: all .2s linear;
    }
  }

  &__button {
    padding: 17px 40px;
    border: 0;
    border-radius: 25px;
    background: $white;
    color: $seablue;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s linear;

    &:hover {
      background: $gradient-sea;
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }
}
