.header {
  position: fixed;
  z-index: 99;
  padding: 21px 0;
  background: $white;
  transition: all .3s linear;

  &--active {
    padding: 5px 0;
    box-shadow: 0 1px 5px 0 rgba(101, 101, 101, .2);
  }

  &__logo {
    display: block;

    @include spritePng($logo);
  }

  &__menu {
    margin: 0;
  }
}

.menu {
  padding: 0;

  &__item {
    margin-left: 50px;

    &--active .menu__link {
      color: $violet;
    }
  }

  &__link {
    color: $gray;
    text-transform: uppercase;
    line-height: 37px;

    &:hover {
      color: $violet;
      text-decoration: none;
    }
  }
}

.burger {
  position: absolute;
  top: 28px;
  right: 15px;
  z-index: 9999;
  display: none;
  padding: 10px 0;
  border: 0;
  font-size: 0;
  cursor: pointer;

  &:hover {
    .burger__line {
      background: $violet;
    }

    &::before,
    &::after {
      background: $violet;
    }
  }

  &__line {
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: $arrow;
    transition: all .2s linear;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    display: block;
    width: 30px;
    height: 3px;
    background: $arrow;
    content: '';
    transition: all .2s linear;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active .burger__line {
    transform: translateX(200%);
  }

  &--active {
    &::before {
      transform: rotate(45deg);
      transform-origin: left top;
      transition: transform .2s linear;
    }

    &::after {
      transform: rotate(-45deg);
      transform-origin: left bottom;
      transition: transform .2s linear;
    }
  }
}

.burger-15 {
  top: 15px;
}
