/*==========  Desktop First  ==========*/

//retina
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}

// ≥1200px
@include media-breakpoint-down(lg) {}

// ≥992px
@include media-breakpoint-down(md) {
  .menu {
    &__item {
      margin-left: 25px;
    }
  }

  .services {
    &__card {
      padding-bottom: 50px;
      max-width: 100%;
    }

    .col-md-6:nth-child(5) {
      display: none;
    }
  }

  .article {

    &__photo-wrap,
    &__photo {
      height: 220px;
    }
  }

  .reviews {
    &__card {
      padding: 35px;
    }

    &__text {
      max-width: 100%;
    }

    &__question {
      padding: 50px 0;
    }
  }

  .popular {
    &__card {
      margin-bottom: 30px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  .burger {
    display: block;
  }

  .menu {
    display: none !important;

    &--active {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center !important;
      height: 100vh;
      z-index: 99;
    }
  }

  .header {
    &--active {
      padding: 10px 0;
    }
  }

  .menu {
    &__item {
      margin: 15px 0;
    }
  }

  .article {
    &__photo {
      height: 180px;
      width: 100%;
    }
  }

  .discover {
    &__video iframe {
      width: 480px;
    }
  }

  .counter {
    padding-bottom: 30px;
  }

  .discount {
    &__form {
      flex-direction: column;
    }

    &__input {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .footer {
    &__input {
      width: 100%;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .article {
    &__photo {
      height: 220px;
      width: 100%;
    }
  }

  .discover {
    &__video iframe {
      width: 100%;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}
