.offer {
  padding: 65px 0 70px 0;
  line-height: 1;
  @include rfs(14);

  .container {
    position: relative;
  }

  .section {
    &__title {
      color: $black;

      &::after {
        margin-bottom: 55px;
        @include spritePng($wave_1);
      }
    }
  }

  .swiper-slide {
    min-height: 375px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 12px 0px rgba(101, 101, 101, 0.2);

    &:hover {
      .offer__img {
        transform: scale(1.1) rotate(-1deg);
      }
    }
  }

  &__photo {
    position: relative;
    overflow: hidden;
    width: 265px;
    height: 245px;
  }

  &__img {
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 265px;
    height: auto;
    transition: all .3s linear;
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 8px;
    background: $yellow;
    font-weight: 600;
    color: $black;
  }

  &__price {
    padding: 15px 0 13px 0;
    color: $black;
  }

  &__card-title {
    @include rfs(18);
    color: $violet;
  }

  &__desc {
    padding: 8px 0 23px 0;
    color: $black;
  }
}

.swiper-button-prev-offer,
.swiper-button-next-offer {
  top: 60%;
  transform: translateY(calc(-50% + 22px));
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid $border;
  z-index: 999999;
  cursor: pointer;

  &:hover .icon--tour-prev {
    transform: translateX(-2px);
  }

  &:hover .icon--tour-next {
    transform: translateX(2px);
  }
}

.icon--tour-prev,
.icon--tour-next {
  width: 22px;
  height: 17px;
  transition: all .2s linear;
}
