.reviews {
  padding: 70px 0;
  text-align: center;
  background: url('../img/reviews/reviews_bg.jpg') bottom center/cover no-repeat;

  .section {
    &__title {
      color: $black;

      &::after {
        @include spritePng($wave_1);
        margin-bottom: 60px;
      }
    }
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 55px 35px 65px 35px;
    background: #f4f4f4;
  }

  &__photo {
    position: relative;
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }

  &__name {
    padding: 18px 0 38px 0;
    color: $violet;
    font-weight: 700;

    @include rfs(18);
  }

  &__text {
    max-width: 296px;
    color: $black;
    line-height: 22px;
  }

  &__quotes {
    margin-top: 8px;
    @include spritePng($qoutes);
  }

  &__question {
    padding: 310px 0 42px 0;
    @include rfs(36);
    color: $white;
    line-height: 1;
  }

  &__button {
    padding: 16px 40px 15px 40px;
    border-radius: 25px;
    background: $gradient-sea;
    color: white;
    border: 0px;
    font-weight: 700;
    line-height: 1;
  }
}
