// ==================== FONTS =======================

$open-sans: 'Open Sans',
sans-serif;
$fira-sans: 'Fira Sans',
sans-serif;
$lato: 'Lato',
sans-serif;

// =================== COLORS =======================

$text-color: #333333;
$active-color: #0b87ff;
