extends ../template

block variables
  - var title = 'Tourism'
  - var pageClass = 'index-page'

block content
  include ../partials/services
  include ../partials/discover
  include ../partials/counters
  include ../partials/offer
  include ../partials/discount
  include ../partials/reviews
  include ../partials/popular
