// ===================== LEFT =====================

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
  width: 25%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--bg-09);

  @include to($break_md) {
    width: 100%;
    height: 40%;
  }
}

.toggle-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;

  .icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all .3s linear;
  }
}

.languages {
  align-self: center;
  margin-bottom: 10px;

  &__item {
    padding: 2px;
    cursor: pointer;

    &:hover {
      color: var(--active-dark);
    }
  }
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 15%;

  @include to($break_md) {
    display: none;
  }

  &__pic {
    width: 100%;
    border-radius: 4px;
    filter: grayscale(100%);
    transition: all .3s linear;

    &:hover {
      filter: grayscale(0%);
      transition: all .3s linear;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--dark);
  text-align: center;

  &__name {
    margin: 0;
    font-weight: 400;
  }

  &__specialty {
    margin-bottom: 0;
    max-width: 155px;
    font-weight: 400;
  }

  &__location {
    margin-top: 27px;
  }

  &__communication {
    position: relative;
    width: 220px;
    height: 80px;
    border-radius: 4px;
    box-shadow: inset -7px 0 12px -8px rgba(0, 0, 0, 0), inset 7px 0 12px -8px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background .4s ease-in-out, box-shadow .4s;
    transform: translateZ(0px);

    -webkit-font-smoothing: antialiased;

    &:hover .door::before {
      color: var(--active-dark);
    }

    &--active {
      background: var(--bg-09);
      box-shadow: inset -7px 0 12px -8px rgba(0, 0, 0, .3), inset 7px 0 12px -8px rgba(0, 0, 0, .3);

      .door {
        background-color: var(--bg-09);
        box-shadow: 0 0 10px -2px rgba(0, 0, 0, .4);
        transform: scale(1.08);

        &::before {
          color: var(--active-dark);
        }
      }

      .top {
        top: -50%;
      }

      .bottom {
        top: 100%;
      }

      .contacts {
        opacity: 1;
      }
    }
  }
}

.top {
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  transition: top .7s ease-in-out;

  &::before {
    top: 15px;
  }
}

.bottom {
  top: 50%;
  left: 0;
  border-radius: 0 0 4px 4px;
  transition: top .7s ease-in-out;

  &::before {
    top: -25px;
  }
}

.door {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 50%;
  transition: top .4s, box-shadow .2s,
    transform .3s, background-color .3s;
  transition-timing-function: ease-in-out;

  &::before {
    position: absolute;
    left: 64px;
    display: block;
    color: var(--dark);
    content: 'contacts';
    text-transform: uppercase;
    @include rfs(19);
    line-height: 50px;
    transition: color .7s ease-in-out;
  }
}

.contacts {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  opacity: 0;
  transition: opacity .7s;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--contact);
    text-align: center;
    cursor: pointer;
    transition: 300ms;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 0 2px var(--contact);
      content: '';
      opacity: 0;
      transition: 300ms;
      pointer-events: none;
    }

    &:nth-child(2n+1) {
      margin-top: 60px;
    }

    &:hover {
      .icon--phone {
        color: var(--green);
      }

      .icon--mail {
        color: var(--yellow);
      }

      .icon--github {
        color: var(--black);
      }

      .icon--telegram {
        color: var(--active);
      }

      .icon--linkedin {
        color: var(--active-dark);
      }

      &::after {
        opacity: 1;
        transform: scale(1.15);
      }
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    color: var(--bg-09);
    transition: none;
  }
}
