// ===================== RIGHT =====================

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
  width: 75%;
  height: 100%;

  @include to($break_md) {
    flex: 9;
    width: 100%;
    height: 60%;
  }
}

.section {
  position: relative;
  z-index: 99;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex: 1;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg-09);
  transition: flex-grow .3s ease-in-out;

  &__title {
    position: absolute;
    display: block;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s linear;

    @include rfs(32);
    user-select: none;

    &--active {
      display: none;
    }

    &:hover {
      color: var(--active-dark);
    }
  }

  &:not(:last-child) {
    border-bottom: 2px solid var(--bg);
  }

  &__container {
    display: none;
    position: absolute;
    overflow: visible;
    padding: 0 20px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: height .7s, opacity .3s, overflow 3s;
    transition-timing-function: ease-in-out;
  }
}

.section--active {
  flex-grow: 8;

  .section__container {
    overflow-y: scroll;
    height: 100%;
    opacity: 1;
  }

  .resume,
  .skills {
    display: flex;
    flex-direction: column;
  }

  .portfolio {
    display: flex;
  }
}

.subsection {
  &__title {
    color: var(--active-dark);
    text-transform: uppercase;

    @include to($break_md) {
      padding: 10px 0;
      border-top: 1px dotted var(--dark);
      border-bottom: 1px dotted var(--dark);
      text-align: center;

      @include rfs(22);
    }
  }
}

.resume {
  flex-direction: column;
  justify-content: flex-start;

  &__objective .resume__desc {
    flex-direction: column;
    padding: 0;

    p {
      margin: 0;
    }
  }

  &__objective .resume__text {
    margin: 0 auto;
  }

  &__desc {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;

    @include to($break_md) {
      flex-direction: column;

      @include rfs(20);
    }

    &--university {
      border-bottom: 1px dashed var(--dark);
    }
  }

  &__text {
    display: inline-block;
    text-align: justify;
    text-indent: 35px;
    hyphens: auto;
    line-height: 2;
  }

  &__period,
  &__about,
  &__level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include size(3);

    @include to($break_md) {
      @include size(12);
    }
  }

  &__about {
    @include size(6);

    span {
      padding: 5px;

      &:last-child {
        border-top: 1px dotted var(--dark);
      }
    }
  }

  &__picture {
    margin: 0 auto;
    max-width: 160px;
  }
}

.skills {

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__desc {
    text-align: justify;
    hyphens: auto;
    line-height: 2;

    @include to($break_md) {
      @include rfs(20);
    }

    &--flex {
      display: flex;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    @include col();
    @include size(12);
  }
}

.portfolio {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;

  @include to($break_md) {
    justify-content: center;
  }

  &__item {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 30px 0 0 0;

    @include size(6);

    @include to($break_md) {
      @include size(12);
    }

    &:hover .portfolio__title {
      color: var(--green);
    }

    &:hover .portfolio__img {
      filter: grayscale(0);
    }

    &:hover .portfolio__title,
    &:focus .portfolio__title {
      outline: none;
    }

    &:hover .portfolio__title::before,
    &:hover .portfolio__title::after,
    &:focus .portfolio__title::before,
    &:focus .portfolio__title::after {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--dark);
    border-radius: 4px;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    display: block;
    padding: 10px;
    width: 80%;
    height: auto;
    border: 1px solid var(--dark);
    border-radius: 4px;
    background: var(--bg-09);
    color: var(--text);
    text-align: center;
    transform: translate(-50%, -50%);

    @include rfs(24);

    &::before,
    &::after {
      display: inline-block;
      opacity: 0;
      transition: transform .3s, opacity .2s;
    }

    &::before {
      margin-right: 10px;
      content: '[';
      transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
      content: ']';
      transform: translateX(-20px);
    }
  }
}

.humor {

  .icon,
  .skills__desc {
    display: inline-block;
  }

  .icon-smile {
    vertical-align: middle;
  }
}
