extends ../template

block variables
  - var title = 'Profile'
  - var pageClass = 'index-page'

block particles
  //- particles
  #particles
  //- =========

block content
  .wrapper
    .container
      include ../partials/left
      include ../partials/right
