.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}


.icon-bootstrap {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-check {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}


.icon-css3 {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-git {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-github {
  font-size:(512/10)*1rem;
  width:(496/512)*1em;
}


.icon-gulp {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-html5 {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-javascript {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-jquery {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-lightbulb-off {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}


.icon-lightbulb-on {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}


.icon-linkedin {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}


.icon-mail {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}


.icon-npm {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-phone {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}


.icon-photoshop {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-pug {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-sass {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-sketch {
  font-size:(128/10)*1rem;
  width:(128/128)*1em;
}


.icon-smile {
  font-size:(424.24/10)*1rem;
  width:(424.24/424.24)*1em;
}


.icon-telegram {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}


.icon-vscode {
  font-size:(2000/10)*1rem;
  width:(1990.4/2000)*1em;
}


.icon-webpack {
  font-size:(2000/10)*1rem;
  width:(2000/2000)*1em;
}

