extends template/template

block variables
  - var title = 'Igor Lukashev - Frontend Developer'
  - var pageClass = 'index-page'
  - var description = 'Igor Lukashev - Frontend Developer'

block particles
  //- particles
  #particles
  //- =========

block content
  .wrapper
    .container
      include partials/left
      include partials/right

block script
