include utils/mixins
block variables

doctype html
html(lang="ru-RU" data-theme="dark")
  head
    meta(charset="utf-8")
    title #{title}
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
    link(href="https://fonts.googleapis.com/css?family=Exo:300,300i,400,400i,500,500i,600,600i&display=swap" rel="stylesheet")

  body(class=pageClass)

    block particles

    block content
