@media #{$mobile} {

  .container {
    width: 290px;
  }

  .col1 ,
  .col2 ,
  .col3 ,
  .col4 ,
  .col5 ,
  .col6 ,
  .col7 ,
  .col8 ,
  .col9 ,
  .col10,
  .col11,
  .col12 { margin-left: 15px; width: 295px; };

  .row::after {
    width: 250px;
  }

  .wrapper {
    margin: 0 auto;
    width: 320px;
    height: 100%;
  }

//////////////////// HEADER ////////////////////

  .header {
    height: 100%;
  }
  .htop [class*="col"]:first-child {
    margin-left: 15px;
    width: 140px;
  }
  .htop [class*="col"]:last-child {
    margin-right: 0;
  }
  .htop [class*="col"]:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    width: 0px;
  }
  .htop [class*="col"]:nth-child(3) {
    margin-right: 0;
    margin-left: 0;
    width: 45px;
  }
  .htop [class*="col"]:last-child {
    margin-left: 0;
    width: 60px;
  }
  .hsearch {
    display: none;
  }

  .btn-menu {
    position: absolute;
    display: block;
    margin-top: 18px;
    margin-left: -2px;
    width: 30px;
    height: 45px;
    cursor: pointer;
    transform: translateZ(0);
    &:hover span {
      background-color: $white;
    }
  }
  .btn-menu span {
    position: relative;
    display: block;
    margin: 5px 0 0;
    width: 30px;
    height: 3px;
    background-color: $black;
  }

  .hmenu {
    position: absolute;
    top: -184;
    left: -16px;
    z-index: 2;
    display: none;
    width: 320px;
    height: 184px;
    border-right: none;
    border-left: none;
    transform: translateZ(0);
    &__item {
      display: block;
      width: 320px;
      height: 45px;
      border-right: none;
      border-bottom: 1px solid $border;
      &:nth-child(2) .hmenu__link{
        padding: 15px 0;
      }
      &:nth-child(3) .hmenu__link{
        padding: 15px 0;
      }
      &:last-child .hmenu__link{
        padding: 15px 0;
      }
    }
    &__link {
      position: relative;
      padding: 15px 0;
      height: 45px;
      border-bottom: 1px solid $border;
      background-color: rgba(250, 250, 250, 0.9);
      text-align: center;
      &:hover {
        background-color: $white;
        box-shadow: 0px 0px 15px 2px rgba(0, 1, 1, 0.15);
      }
    }
  }

  .hidden-menu-ticker:checked ~ .btn-menu {
    top: 180px;
    left: 130px;
  }
  .hidden-menu-ticker:checked ~ .hmenu {
    top: 0px;
    display: block;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    top: 10px;
    -webkit-transform: rotate(45deg);
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    top: -10px;
    -webkit-transform: rotate(-45deg);
  }

  .hlikes {
    display: inline-block;
  }
  .hcontrol {
    display: inline-block;
  }

  ////// SLIDER //////

  .hslider {
    width: 320px;
    height: 720px;
    &__slide {
      width: 320px;
    }
    &__commands {
      width: 320px;
    }
    &__title {
      top: 240px;
      left: 32px;
      width: 200px;
      text-align: center;
      &--desc {
        top: 169px;
        left: 0;
      }
    }
    &__dog {
      top: 440px;
      left: 55px;
    }
    &__oldman {
      top: 192px;
      left: 65px;
    }
    &__shadow {
      &--dog {
        top: 624px;
        left: 14px;
      }
      &--oldman {
        left: 36px;
      }
    }
    &__words {
      display: none;
    }
    &__poryad {
      display: none;
    }
    &__movedown {
      left: 61px;
    }
  }

//////////////////// FILTER ////////////////////

  .filter {
    &__blocks {
      margin-left: -12px;
    }
  }
  .shelters {
    margin: 60px 0 50px -1px;
  }

  .category {
    margin-left: 0px;
    &__title {
      margin: 37px 0 7px 30px;
    }
  	&__item {
      margin-bottom: 10px;
      &:first-child {
        margin-left: 15px;
      }
      &:nth-child(0n+4) {
        margin-left: 15px;
      }
      &:nth-child(3n+3) {
        margin-right: 15px;
      }
      &:last-child {
        margin-right: 0;
        margin-bottom: 30px;
        width: 250px;
        height: 100px;
      }
  	}
    &__loader {
      left: 0px;
      margin-top: 40px;
      height: 75px;
    }
    &__loader-title {
      margin-top: 20px;
    }
    &__dots {
      display: block;
      margin: 71px auto;
      margin-left: 0;
    }
  }

//////////////////// STATUS ////////////////////

  .status {
    border-bottom: 1px solid $border;
  }
  .sblocks [class*="col"]{
    width: 260px;
  }
  .sblocks [class*="col"]:first-child {
    margin-left: 15px;
  }
  .sslider {
    max-width: 960px;
    height: 100%;
    &__wrapper {
      height: 260px;
    }
    &__commands {
      margin: -56% 0 0 0;
      width: 260px;
    }
    &__like {
      top: 10px;
      left: 227px;
      width: 20px;
      height: 20px;
    }
    &__logo {
      top: 180px;
      left: 189px;
      width: 70px;
      height: 70px;
    }
  }
  .sdetails {
    width: 290px;
    height: 100%;
    &__title {
      text-align: center;
    }
    &__description {
      text-align: justify;
    }
  }
  .sblocks [class*="col"]:last-child {
    margin-left: 0px;
    width: 270px;
  }
  .scontacts {
    height: 100%;
    border-left: none;
    text-align: center;
    &__mailto {
      display: block;
      margin: 17px auto;
      padding-left: 0px;
    }
    &__adress {
      display: block;
      margin: 23px auto;
    }
    &__map {
      margin: 0 auto;
    }
    &__other {
      display: block;
      margin: 27px auto;
      margin-bottom: 50px;
    }
  }

//////////////////// NEWS ////////////////////

  .news {
      display: none;
    }

//////////////////// FOOTER ////////////////////

  .footer {
    width: 290px;
    height: 100%;
    &__background {
      width: 320px;
      height: 100%;
    }
  }
  .fblocks {
    height: 100%;
  }
  .fblocks [class*="col"]{
    margin-left: 17px;
    width: 250px;
  }

  ////// feedback form //////

  .ffeedback {
    height: 100%;
    border-right: none;
  }

  ////// contacts //////

  .fcontacts {
    height: 100%;
    border-right: none;
    &__phone {
      margin-top: 30px;
    }
  }

  ////// socials //////

  .fsocials {
    height: 429px;
  	&__title {
      margin-top: 30px;
  	}
  }
  .flogo {
    margin: 50px 0 0 154px;
  }
  .fcopyrights {
    margin: 13px 0 0 30px;
    width: 190px;
  }
}
