section.cards-filter
  .filter
    .filter__logo.outline
    ul.filter__list
      li.filter__button(data-filter="fruit")
        span.filter__title organic
          span.filter__title--bold &nbsp;fruits
      li.filter__button(data-filter="vegetable")
        span.filter__title organic
          span.filter__title--bold &nbsp;vegetables
      li.filter__logo.inline
      li.filter__button(data-filter="juice")
        span.filter__title organic
          span.filter__title--bold &nbsp;juices
      li.filter__button(data-filter="driedFruit")
        span.filter__title organic
          span.filter__title--bold &nbsp;dried fruits
  .cards-slider
    +card('tomato', 'vegetable', '$50.00', '', '', '')
    +card('cabbage', 'vegetable', '$50.00', '', '', '')
    +card('cherry', 'driedFruit', '$50.00', '$65.00', '', '')
    +card('ginger', 'vegetable', '$50.00', '', '', '')
    +card('pineapple', 'fruit','$50.00', '', 'new', 'sale')
    +card('onion', 'vegetable', '$50.00', '', '', '')
    +card('tomato', 'vegetable', '$50.00', '', '', '')
    +card('cabbage', 'vegetable', '$50.00', '', '', '')
    +card('cherry', 'driedFruit', '$50.00', '$65.00', '', '')
    +card('ginger', 'vegetable', '$50.00', '', '', '')
    +card('pineapple', 'fruit','$50.00', '', 'new', 'sale')
    +card('onion', 'vegetable', '$50.00', '', '', '')
    +card('tomato', 'vegetable', '$50.00', '', '', '')
    +card('cabbage', 'vegetable', '$50.00', '', '', '')
    +card('cherry', 'driedFruit', '$50.00', '$65.00', '', '')
    +card('ginger', 'vegetable', '$50.00', '', '', '')
    +card('pineapple', 'juice','$50.00', '', 'new', 'sale')
    +card('onion', 'vegetable', '$50.00', '', '', '')
    +card('tomato', 'vegetable', '$50.00', '', '', '')
    +card('cabbage', 'vegetable', '$50.00', '', '', '')
    +card('cherry', 'juice', '$50.00', '$65.00', '', '')
    +card('ginger', 'vegetable', '$50.00', '', '', '')
    +card('pineapple', 'fruit','$50.00', '', 'new', 'sale')
    +card('onion', 'vegetable', '$50.00', '', '', '')
    +card('tomato', 'vegetable', '$50.00', '', '', '')
    +card('cabbage', 'vegetable', '$50.00', '', '', '')
    +card('cherry', 'driedFruit', '$50.00', '$65.00', '', '')
    +card('ginger', 'vegetable', '$50.00', '', '', '')
    +card('pineapple', 'fruit','$50.00', '', 'new', 'sale')
    +card('onion', 'vegetable', '$50.00', '', '', '')

  .cards-slider-pagination.pagination

