section.deals
  img.deals__img.deals__img--left(src="img/deals-sheet-left.png", alt="sheet")
  img.deals__img.deals__img--right(src="img/deals-sheet-right.png", alt="sheet")
  .deals-wrap
    .deals__topline
      .deals__left
        span.deals__subtitle NATURIX DEAL OF THE DAY
        h4.deals__title
          != 'organic goods <span class="deals__title deals__title--bold">50%</span> off'
      .deals__center
      .deals__right
        p.deals__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    .deals-timer
      ul.deals-timer__list
        li.deals-timer__item!= '<span id="days"></span> days'
        li.deals-timer__item!= '<span id="hours"></span> hours'
        li.deals-timer__item!= '<span id="minutes"></span> mins'
        li.deals-timer__item!= '<span id="seconds"></span> secs'
    .deals-slider
      +dealsCard('ORGANIC FRUITS', 'fresh', 'rasberry', '$50.00', '$60.00', 'new', 'sale')
      +dealsCard('ORGANIC FRUITS', 'fresh', 'pineapple', '$50.00', '$65.00', 'new', 'sale')
      +dealsCard('ORGANIC FRUITS', 'fresh', 'rasberry', '$50.00', '$60.00', 'new', 'sale')
      +dealsCard('ORGANIC FRUITS', 'fresh', 'pineapple', '$50.00', '$65.00', 'new', 'sale')
      +dealsCard('ORGANIC FRUITS', 'fresh', 'rasberry', '$50.00', '$60.00', 'new', 'sale')
      +dealsCard('ORGANIC FRUITS', 'fresh', 'pineapple', '$50.00', '$65.00', 'new', 'sale')

