section.farmfood
  img.farmfood__img.farmfood__img--left(src="img/bg-sheet-left.png" alt="sheet")
  img.farmfood__img.farmfood__img--right(src="img/bg-sheet-right.png" alt="sheet")
  .farmfood-wrap
    h3.farmfood__title we are
      span.farmfood__title.farmfood__title--bold &nbsp;organic farmfood
      span.farmfood__sheet
    span.farmfood__desc ABOUT NATURIX FARMFOOD
    p.farmfood__text
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .farmfood__row
      +feature('feature', 'feature--pos', 1, 'fresh from ', 'naturix farm')
      +feature('feature', '', 2, '100% ', 'organic goods')
      +feature('feature', '', 3, 'premium ', 'quality')
      +feature('feature', 'feature--pos', 4, '100% ', 'natural')

    img.farmfood__freshimg(src="img/freshimg.png" alt="sheet")

