footer.footer
  .footer__top
    .contacts
      a(href="#header", title="logo").logo.footer-logo
      p.contacts__text
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
      a(href="https://www.google.com.ua/maps/place/100+Highland+Dr,+California,+PA+15419,+%D0%A1%D0%A8%D0%90/@40.0536809,-79.9004359,17z/data=!3m1!4b1!4m5!3m4!1s0x88351ac1b4f93ad7:0xe336f4e9e4b5eb11!8m2!3d40.0536768!4d-79.8982419?hl=ru").contacts__address
        i.fas.fa-map-marker-alt
        span.contacts__location.contacts__location--bold 100 highland ave,&nbsp;
          span.contacts__location california, united state
      a(href="mailto:contact@naturix.com" title="mail to").contacts__email
        i.fas.fa-envelope-square
        span contact@naturix.com
      a(href="tel:+90456456479" title="call").contacts__phone
        i.fas.fa-phone-square
        span +90456456479
    .info
      .info__topic
        span.info__title naturix&nbsp;
          span.info__title.info__title--bold information
      ul.info__menu
        li.info__item
          a(href="#").info__link
            i.far.fa-arrow-alt-circle-right
            span about our shop
        li.info__item
          a(href="#").info__link
            i.far.fa-arrow-alt-circle-right
            span top sellers
        li.info__item
          a(href="#").info__link
            i.far.fa-arrow-alt-circle-right
            span our blog
        li.info__item
          a(href="#").info__link
            i.far.fa-arrow-alt-circle-right
            span new products
        li.info__item
          a(href="#").info__link
            i.far.fa-arrow-alt-circle-right
            span secure shopping
    .account
      .account__topic
        span.account__title my&nbsp;
          span.account__title.account__title--bold account
      ul.account__menu
        li.account__item
          a(href="#").account__link
            i.far.fa-arrow-alt-circle-right
            span my account
        li.account__item
          a(href="#").account__link
            i.far.fa-arrow-alt-circle-right
            span discount
        li.account__item
          a(href="#").account__link
            i.far.fa-arrow-alt-circle-right
            span personal information
        li.account__item
          a(href="#").account__link
            i.far.fa-arrow-alt-circle-right
            span my address
        li.account__item
          a(href="#").account__link
            i.far.fa-arrow-alt-circle-right
            span order history
    .instagram
      .instagram__topic
        span.instagram__title photo&nbsp;
          span.instagram__title.instagram__title--bold instagram
      ul.instagram__list
        li.instagram__item
          a(href="#").instagram__link
            img(src="img/insta1.jpg", alt="instagram")
        li.instagram__item
          a(href="#").instagram__link
            img(src="img/insta2.jpg", alt="instagram")
        li.instagram__item
          a(href="#").instagram__link
            img(src="img/insta3.jpg", alt="instagram")
        li.instagram__item
          a(href="#").instagram__link
            img(src="img/insta4.jpg", alt="instagram")
        li.instagram__item
          a(href="#").instagram__link
            img(src="img/insta5.jpg", alt="instagram")
        li.instagram__item
          a(href="#").instagram__link
            img(src="img/insta6.jpg", alt="instagram")
  .footer__bottom
    .pageup
      a(href="#header").pageup__link
        i.far.fa-arrow-alt-circle-up
    .footer__bottom-wrap
      span.footer__copyrights ©2017  all rights reserved
      ul.footer__menu
        li.footer__item
          a(href="#").footer__link.footer__link--active contact us
        li.footer__item
          a(href="#").footer__link term of use
        li.footer__item
          a(href="#").footer__link site map
        li.footer__item
          a(href="#").footer__link privacy policy
