
section.goods
  span.goods__subtitle FRESH FROM OUR FARM
  .goods__title-block
    h4.goods__title naturix&nbsp;
      span.goods__title.goods__title--bold organic goods
  ul.goods__tabs-block
    li.goods__tab
      span.goods__tab-title all&nbsp;
        span.goods__tab-title.goods__tab-title--bold goods
    li.goods__tab
      span.goods__tab-title organic&nbsp;
        span.goods__tab-title.goods__tab-title--bold vegetables
    li.goods__tab.goods__tab--active
      span.goods__tab-title organic&nbsp;
        span.goods__tab-title.goods__tab-title--bold fruits
    li.goods__tab
      span.goods__tab-title organic&nbsp;
        span.goods__tab-title.goods__tab-title--bold tea
    li.goods__tab
      span.goods__tab-title all&nbsp;
        span.goods__tab-title.goods__tab-title--bold breads
    li.goods__tab
      span.goods__tab-title organic&nbsp;
        span.goods__tab-title.goods__tab-title--bold juices
  .goods__slider
    .goods__good
      +card('garlic', '', '$50.00', '', 'new', '')
      +card('onion', '', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cherry', 'fruit', '$50.00', '', '', '')
      +card('pineapple', 'fruit', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cabbage', 'vegetable', '$50.00', '', '', '')
      +card('salad', '', '$50.00', '', 'new', '')
    .goods__good
      +card('pepper', 'vegetable', '$50.00', '', 'new', '')
      +card('tomato', 'vegetable', '$50.00', '', '', '')
    .goods__good
      +card('garlic', '', '$50.00', '', 'new', '')
      +card('onion', '', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cherry', 'fruit', '$50.00', '', '', '')
      +card('pineapple', 'fruit', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cabbage', 'vegetable', '$50.00', '', '', '')
      +card('salad', 'vegetable', '$50.00', '', 'new', '')
    .goods__good
      +card('pepper', 'vegetable', '$50.00', '', 'new', '')
      +card('tomato', 'vegetable', '$50.00', '', '', '')
    .goods__good
      +card('garlic', '', '$50.00', '', 'new', '')
      +card('onion', '', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cherry', 'fruit', '$50.00', '', '', '')
      +card('pineapple', 'fruit', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cabbage', 'vegetable', '$50.00', '', '', '')
      +card('salad', '', '$50.00', '', 'new', '')
    .goods__good
      +card('pepper', 'vegetable', '$50.00', '', 'new', '')
      +card('tomato', 'vegetable', '$50.00', '', '', '')
    .goods__good
      +card('garlic', '', '$50.00', '', 'new', '')
      +card('onion', '', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cherry', 'fruit', '$50.00', '', '', '')
      +card('pineapple', 'fruit', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cabbage', 'vegetable', '$50.00', '', '', '')
      +card('salad', 'vegetable', '$50.00', '', 'new', '')
    .goods__good
      +card('pepper', 'vegetable', '$50.00', '', 'new', '')
      +card('tomato', 'vegetable', '$50.00', '', '', '')
    .goods__good
      +card('garlic', '', '$50.00', '', 'new', '')
      +card('onion', '', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cherry', 'fruit', '$50.00', '', '', '')
      +card('pineapple', 'fruit', '$50.00', '$60.00', '', 'sale')
    .goods__good
      +card('cabbage', 'vegetable', '$50.00', '', '', '')
      +card('salad', 'vegetable', '$50.00', '', 'new', '')
    .goods__good
      +card('pepper', 'vegetable', '$50.00', '', 'new', '')
      +card('tomato', 'vegetable', '$50.00', '', '', '')
  .goods-pagination.pagination
