header.header#header
  .header-wrapper
    .topline
      a(href="#").logo.header-logo
      nav.navigation
        ul.menu
          li.menu__item.menu__item--active
            a.menu__link(href="#") home
          li.menu__item
            a.menu__link(href="#") about us
          li.menu__item
            a.menu__link(href="#") shop
          li.menu__item
            a.menu__link(href="#") blog
          li.menu__item
            a.menu__link(href="#") contact us
        a.basket(href="#")
          span.basket__img
          span.basket__sum 2
          span.basket__price $2.170.00
        a.menu-btn(href="#")
    .middle
      .text
        .title
          h1.title__main Orgainc
            span.title__main.title__main--bold &nbsp;for Life
          span.title__desc organic fruits, vegetables, and lot more to your door
        .shop-button
          a.shop-button__link(href="#") Shop Now
      ul.socials
        li.socials__item
          a(href="#").socials__link.socials__link--facebook
            i.fab.fa-facebook-f
        li.socials__item
          a(href="#").socials__link.socials__link--twitter
            i.fab.fa-twitter
        li.socials__item
          a(href="#").socials__link.socials__link--googleplus
            i.fab.fa-google-plus-g
        li.socials__item
          a(href="#").socials__link.socials__link--linkedin
            i.fab.fa-linkedin-in
        li.socials__item
          a(href="#").socials__link.socials__link--instagram
            i.fab.fa-instagram
    .bottom
      span.naturix ©naturix
        span.naturix--thin &nbsp;farmfood.
        span.naturix--green &nbsp;organic 100% guarantee
      .underlay-slider-controls
        span.underlay-slider-controls__num 02
        span.underlay-slider-controls__sum /05
        .underlay__btn.underlay__btn--prev.arrow-btn.arrow-btn--prev
          i.fas.fa-long-arrow-alt-left
        .underlay__btn.underlay__btn--next.arrow-btn.arrow-btn--next.next
          i.fas.fa-long-arrow-alt-right
    .underlay-slider
      .underlay-slider__slide.underlay-slider__slide--1#1
      .underlay-slider__slide.underlay-slider__slide--2#2
      .underlay-slider__slide.underlay-slider__slide--3#3
      .underlay-slider__slide.underlay-slider__slide--4#4
      .underlay-slider__slide.underlay-slider__slide--5#5
  .bottom-line
