section.news
  span.news__subtitle NATURIX BLOG
  h4.news__title naturix&nbsp;
    span.news__title.news__title--bold latest news
  .news__row
    .news__item
      .news__img
        img(src="img/news1.jpg", alt="news")
      .news__text
        span.news__date 26 JUNE 2016
        span.news__topic 5 best foods to make you&nbsp;
          span.news__topic.news__topic--bold fresh & healthy
        p.news__desc
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
        a(href="#").news__link READ ARTICLE
          i.fas.fa-long-arrow-alt-right
    .news__item
      .news__img
        img(src="img/news2.jpg", alt="news")
      .news__text
        span.news__date 26 JUNE 2016
        span.news__topic 5 best foods to make you&nbsp;
          span.news__topic.news__topic--bold fresh & healthy
        p.news__desc
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
        a(href="#").news__link READ ARTICLE
          i.fas.fa-long-arrow-alt-right
