section.product
  .product-wrap
    .product-row
      .product-block.product-block--card
        +prodCard('1', 'organic ', 'fruits', '52 items')
        +prodCard('2', 'fresh ', 'vegetables', '35 items')
        +prodCard('3', 'organic ', 'breads', '23 items')

      .product-block
        span.product__desc FRESH FROM OUR FARM
        h3.product__title 220+&nbsp;
          span.product__title.product__title--bold fruits, vegetables&nbsp;
          span.product__title &&nbsp;
          span.product__title.product__title--bold lot more
        p.product__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

      .product-block
        span.product__desc FRESH FROM OUR FARM
        h3.product__title 115+&nbsp;
          span.product__title.product__title--bold organic juices&nbsp;
          span.product__title and&nbsp;
          span.product__title.product__title--bold organic tea
        p.product__text
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

      .product-block.product-block--card
        +prodCard('4', 'organic ', 'juices', '26 items')
        +prodCard('5', 'dried ', 'juices', '31 items')
        +prodCard('6', 'organic ', 'tea', '17 items')
