section.subscribe
  img(src="img/subscr-img1.png", alt="sub").subscribe__img.subscribe__img--left
  img(src="img/subscr-img2.png", alt="sub").subscribe__img.subscribe__img--right
  .subscribe__box
    .subscribe__text
      span.subscribe__subtitle JOIN OUR NEWSLETTER
      span.subscribe__title subscribe&nbsp;
        span.subscribe__title.subscribe__title--bold newsletter
    input(type="text" placeholder="enter your e-mail address").subscribe__input
    a(href="#").subscribe__btn subscribe&nbsp;&nbsp;&nbsp;
      i.fas.fa-long-arrow-alt-right

