section.testimonials
  .testimonials__slider
    .testimonials__card
      .testimonials__photo
        img(src="img/testimonials-photo.png", alt="alt")
      .testimonials__text
        p.testimonials__desc
          | “Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”
        a(href="#").testimonials__author
          i.fas.fa-user
          span LUIS GARCHIA
    .testimonials__card
      .testimonials__photo
        img(src="img/testimonials-photo.png", alt="alt")
      .testimonials__text
        p.testimonials__desc
          | “Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”
        a(href="#").testimonials__author
          i.fas.fa-user
          span LUIS GARCHIA
    .testimonials__card
      .testimonials__photo
        img(src="img/testimonials-photo.png", alt="alt")
      .testimonials__text
        p.testimonials__desc
          | “Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”
        a(href="#").testimonials__author
          i.fas.fa-user
          span LUIS GARCHIA
    .testimonials__card
      .testimonials__photo
        img(src="img/testimonials-photo.png", alt="alt")
      .testimonials__text
        p.testimonials__desc
          | “Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”
        a(href="#").testimonials__author
          i.fas.fa-user
          span LUIS GARCHIA
    .testimonials__card
      .testimonials__photo
        img(src="img/testimonials-photo.png", alt="alt")
      .testimonials__text
        p.testimonials__desc
          | “Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”
        a(href="#").testimonials__author
          i.fas.fa-user
          span LUIS GARCHIA
    .testimonials__card
      .testimonials__photo
        img(src="img/testimonials-photo.png", alt="alt")
      .testimonials__text
        p.testimonials__desc
          | “Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.”
        a(href="#").testimonials__author
          i.fas.fa-user
          span LUIS GARCHIA

  .testimonials__controls
    .arrow-btn.arrow-btn--prev.test-prev
      i.fas.fa-long-arrow-alt-left
    .arrow-btn.arrow-btn--next.test-next
      i.fas.fa-long-arrow-alt-right

